<div class="box">
  <div class="inner-box">
    Member name: <%= @profile.user[:name] %>
    <br/>
    Member email: <%= @profile.user[:email] %>
    <br/>
    Member background: <%= @profile[:background] %>
    <br/>
    Member career plan: <%= @profile[:career_plans] %>
  </div>
</div>
