.row
  .span12
    .row
      .span3
        .box.sidebar
          %h2 Public profile
          %p
            By creating a public profile, you can help inspire new people to join 80k.
            Seeing example members is a really effective way to persuade others to join.
            You can also make yourself known to our community, which might lead to
            connections with other effective altruists.

          %h2 Markdown
          %p All the text fields can be formatted using the <a href="http://daringfireball.net/projects/markdown/syntax">Markdown syntax</a>. For example:
          %p **bold text** == <strong>bold text</strong>
          %p _italic text_ == <em>italic text</em>
          %p [a link](http://80000hours.org/) == <a href="http://80000hours.org">a link</a>

      .span9
        .box.left-border
          .page-header
            %h1= current_user.name
          = render 'form'
