.box
  .page-header
    %h2 Confirmed member email list
  %p Showing all #{@members.size} member emails. Ready to be copy/pasted into an email client.

  %hr

  -#= @members.each{|m| "\"" + m.user.name + "\" <" + m.user.email + ">, "};
  - @members.each do |member|
    = '"' + member.user.name + '" <' + member.user.email +  '>, '
