.row
  .span12
    .row
      .span7
        .box
          %h1= current_user.name
          :markdown
            ##You can now:
            ###[Ask a question on our discussion forum](/discussion)
            Get career advice or just find out more about 80,000 Hours. People are happy to help you out. [Ask a question here](/discussion)
            
            ###[Help us out](https://docs.google.com/spreadsheet/viewform?formkey=dG5PbFBRZFk4OXNSb0hGTUc2T08yNUE6MQ#gid=0):
            Help us to evaluate our impact by filling in the [members' survey](https://docs.google.com/spreadsheet/viewform?formkey=dG5PbFBRZFk4OXNSb0hGTUc2T08yNUE6MQ#gid=0) so that we can continue to offer free advice.
          %h2 Fill in your profile
          = render 'form'
      .span1
        &nbsp;
          
      .span4
        .box.sidebar
          %h2 Public profile
          %p
            By creating a public profile, you can help inspire new people to join 80k.
            Seeing example members is a really effective way to persuade others to join.
            You can also make yourself known to our community, which might lead to
            connections with other effective altruists.

          %h2 Markdown
          %p All the text fields can be formatted using the <a href="http://daringfireball.net/projects/markdown/syntax">Markdown syntax</a>. For example:
          %p **bold text** == <strong>bold text</strong>
          %p _italic text_ == <em>italic text</em>
          %p [a link](http://80000hours.org/) == <a href="http://80000hours.org">a link</a>


