.content
  .header
    = comment.get_user_name
    at
    = comment.created_at.strftime('%d %b %y')
  .body
    = comment.body
  .actions
    = render partial: 'comments/actions', locals: { comment: comment }
  .form
    .errors.alert.alert-danger
