= simple_form_for( @comment, remote: true ) do |f|
  .errors.alert.alert-danger
  = f.input :body, placeholder: "Add a comment...", label: false, input_html: { style: 'height:100px;width:90%' }
  = f.button :submit, "Post comment", class: 'btn btn-large'

  = f.input :post_id, :as => :hidden
