<%- if @comment.destroyed? %>
  $('#comment-<%= @comment.id %>').fadeOut()
<%- else %>
  $('#comment-<%= @comment.id %>').prepend("<div class='alert alert-danger'>Sorry, something went wrong!</div>")
<%- end %>
