= link_to "all our research organised by category <i class='icon-circle-arrow-right'></i>".html_safe, "/career-resources"
%hr
The 80,000 Hours blog is a place where members of the effective altruist
community collaborate to create and share important ideas. It doesn't present
the official position of 80,000 Hours as an organisation.
