/*$pf: #f62000;*/
/*$pf: #008080; // Teal*/
/*$pf: #a50021; // purpley-red*/
/*$pf: #ff2400; // scarlet*/
/*$pf: #ffaa00; // gold*/

/*$magenta_2: #e30068;*/
$magenta_2: #d4346f;
$magenta_1: darken($magenta_2,5%);
$magenta_0: darken($magenta_2,10%);
$magenta_3: lighten($magenta_2,10%);

$grey_4: #efefef;
$grey_3: #333333;
$grey_2: #262626;
$grey_1: #161616;
$grey_0: #060606;

$white: #ffffff;

$body_bg_color:   $white;
$content_bg_color:   $white;

$box_color: $white;

$header_bg_color: #333;
$header_gradient_start: #444;
$header_gradient_end: #333;

$footer_bg_color: #333;
$footer_gradient_start: #444;
$footer_gradient_end: #333;

$text_color: $grey_2; 

// background color of nav bar
$nav_bar_color: none;
$nav_bar_hover_color: #ccc;

$link_color: $magenta_2;
$link_hover_color: $magenta_1; 
$link_visited_color: $magenta_3;

$nav_link_color: #efefef;
$nav_link_hover_color: $magenta_2;
$nav_link_visited_color: #efefef;

