// fonts
// $helvetica: "helvetica neue", helvetica, arial, sans-serif;
$museo_sans_500: "MuseoSans-500", helvetica, arial, sans-serif;
$museo_sans_500_italic: "MuseoSans-500Italic", helvetica, arial, sans-serif;
$museo_sans_700: "MuseoSans-700", helvetica, arial, sans-serif;
@font-face {font-family: 'MuseoSans-700Italic';src: url('243719_0_0.eot');src: url('243719_0_0.eot?#iefix') format('embedded-opentype'),url('243719_0_0.woff') format('woff'),url('243719_0_0.ttf') format('truetype');}
$museo_slab_500: "MuseoSlab-500", helvetica, arial, sans-serif;
$museo_slab_700: "MuseoSlab-700", helvetica, arial, sans-serif;
$museo_slab_900: "MuseoSlab-900", helvetica, arial, sans-serif;
$museo_slab_500_italic: "MuseoSlab-500Italic", helvetica, arial, sans-serif;
