.member-profile-condensed
  .avatar
    = link_to image_tag(member.avatar.url(:thumb)), user_path(member) 
  .text
    %span.name
      = link_to member.name, user_path(member)
    - if member.location?
      %br
      %span.location
        = member.location
