.member-profile-condensed
  .avatar
    = link_to image_tag(member.avatar.url(:thumb)), user_path(member) 
  .text
    %span.name
      = link_to truncate( member.name, :length => 20 ), user_path(member)
    - if member.location?
      %br
      %span.location
        = truncate( member.location, :length => 20 )
