<div class="box">
  <% @users.each do |user| %>
    <div class="inner-box">
      name: <%= user.name %>, email: <%= user.email %>,
      confirmed: <%= user.confirmed_at.nil? ? '✘':'✔' %>
      <br/>
    </div>
  <% end %>
</div>

