<div class="box">
  <div class="center">
    <h1><%= @all ? "Our members" : "Some of our members" %></h1></div>
  <% @users.each do |user| %>
    <%= render :partial => '/shared/member_condensed', :locals => { :member => user.member } %>
  <% end %>

  <% if !@all %>
    <div class="center">
      <%= link_to 'View all members', '/members/all', :class => 'btn btn-large' %>
      <%= link_to 'Interested in becoming a member?', '/join', :class => 'btn btn-large' %>
    </div>
  <% end %>
</div>

