.row
  .span2
    .box.sidebar
      = render :partial => "/shared/cause_donation_member_sidebar"
  .span10
    .box.left-border
      .page-header
        %h1= @cause.name
        %h2
          =link_to @cause.website, @cause.website
      
      %h3 Description
      =markdown @cause.description
    
      %hr
