<strong>I declare that I aim to pursue a career as an effective altruist.</strong>

<p>
This means that I intend to:

<ul>
<li>(i) Devote a significant proportion of my time or resources to helping others.</li>
<li>(ii) Use the time or resources I give as effectively as possible in helping others.</li>
<li>(iii) Make my career decisions based at least in part on how it enables me to further my altruistic aims.</li>
</ul>
</p>
