<div class="footer_text">
  <span class="footer-link"><a href="/">Home</a></span>
  <span class="footer-link"><a href="/contact-us">Contact us</a></span>
  <span class="footer-link"><a href="/faq">F.A.Q.</a></span>
  <span class="footer-link"><a href="/search">Search</a></span>
  <span class="footer-link"><a href="/endorsements">Endorsements</a></span>
</div>
