<div class="endorsement">
  <% endorsement = Endorsement.all.shuffle.first %>
  <div class="endorsement-body">
    <%= markdown ('"' + endorsement.body + '"') %>
  </div>
  <div class="attribution">
    <span class="author">
      &#8213;
      <%= endorsement.author %>
    </span>
    &nbsp;<%= endorsement.position %>
  </div>
</div>
