- endorsement = Endorsement.get_header_endorsement
- if endorsement
  .endorsement
    %a{:href => '/endorsements'}
      .endorsement-body
        = markdown ('"' + endorsement.body + '"')
      .attribution
        %span.author
          &#8213;
          = endorsement.author
        &nbsp;
        = endorsement.position
