<div class="span10 offset1">
  <div class="row">
    <div class="span6">
      <div class="fp-splash">
        <h1>Careers that make a real difference.</h1>
        <h3>Discover how to change the world through your career.</h3>
        <h3>Eighty thousand hours to make an impact. Start here.</h3>
      </div>
    </div>
    <div class="span3">
      <div class="fp-splash-find-out-more">
        <a class="btn btn-primary btn-large" href="/find-out-more">Find out more &gt;</a>
      </div>
    </div>
  </div>
</div>
