<div style="clear: both;"></div>
<div class="fp-splash-container">
<div class="fp-splash">
  <div class="slogan">Amazing 80,000 Hours slogan.</div>
  <div class="call-to-action">
    What you gonna do about it?
    <br/>
    Clicking that button would be a good start.
  </div>
</div>
<a class="find-out-more" href="#">Find out more &gt;</a>
<div style="clear: both;"></div>
</div>
