<div style="clear: both;"></div>
<div class="fp-splash-container">
<div class="fp-splash">
  <div class="slogan">80,000 hours of work</div>
  <div class="call-to-action">
    What's the best way to spend that time?
    <br/>
    How can you make the most difference?
  </div>
</div>
<a class="find-out-more" href="/find-out-more">Find out more &gt;</a>
<div style="clear: both;"></div>
</div>
