<div style="clear: both;"></div>
<div class="fp-splash-container">
<div class="fp-splash">
  <div class="slogan">
    Careers that make a real difference.
  </div>
  <div class="call-to-action">
    Discover how to change the world through your career.
    <br/>
    Eighty thousand hours to make an impact. Start here.
  </div>
</div>
<a class="fp-splash-find-out-more btn btn-primary btn-large" href="/find-out-more">Find out more &gt;</a>
<div style="clear: both;"></div>
</div>
