<div class="span7">
  <div class="fp-splash-container">
    <div class="fp-splash">
      <div class="slogan">
        Careers that make a real difference.
      </div>
      <div class="call-to-action">
        Discover how to change the world through your career.
        <br/>
        Eighty thousand hours to make an impact. Start here.
      </div>
    </div>
  </div>
</div>
<div class="span4">
  <div class="fp-splash-find-out-more">
    <a class="btn btn-primary btn-large" href="/find-out-more">Find out more &gt;</a>
  </div>
</div>
