<!-- Begin MailChimp Signup Form -->
<span class="mailing-list-form <%= klass %>">
<form action="http://eightythousand.us2.list-manage1.com/subscribe/post?u=aba12f58bbe8075560abdc5b7&amp;id=43bc1ae55c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
  <label for="mce-EMAIL"><%= text %></label>
  <input type="email" name="EMAIL" class="defaultText email" title="email@address.com" id="mce-EMAIL" />
  <input type="submit" value="<%= defined?(button_text) ? button_text : "Subscribe" %>" name="subscribe" id="mc-embedded-subscribe" class="submit-button" />
</form>
</span>
<!--End mc_embed_signup-->
