<!-- Begin MailChimp Signup Form -->
<div id="signup_form">
<form action="http://eightythousand.us2.list-manage1.com/subscribe/post?u=aba12f58bbe8075560abdc5b7&amp;id=43bc1ae55c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
  <label for="mce-EMAIL"><%= text %></label>
  <input style="width: <%= width %>" type="email" name="EMAIL" class="defaultText email" title="email@address.com" id="mce-EMAIL" />
	<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="submit-button" />
</form>
</div>
<!--End mc_embed_signup-->
