<nav class='clearfix'>
<ul id='nav'>
    <li><a href="/">Home</a></li>
    <li>
      <a href="/find-out-more">Membership</a>
      <ul>
        <li><a href="/find-out-more">Why join?</a></li>
        <li><a href="/join">Join now</a></li>
      </ul>
    </li>
    <li>
      <a href="/members">Our Community</a>
      <ul>
        <li><a href="/find-out-more">About us</a></li>
        <li><a href="/members">Our members</a></li>
        <li><a href="/meet-the-team">Meet the team</a></li>
        <li><a href="/volunteer">Volunteer for us!</a></li>
        <li><a href="/events">Events</a></li>
      </ul>
    </li>
    <li>
      <a href="/banker-vs-aid-worker">Your Career</a>
      <ul>
        <li><a href="/career-research">Career resources</a></li> 
        <li><a href="/banker-vs-aid-worker">Banker vs Aid Worker debate</a></li>
        <li><a href="/coming-soon">Coming soon!</a></li>  
      </ul>
    </li>
    <li><a href="/blog">Blog</a></li>
    <li>
      <a href="/press">Press</a>
      <ul>
        <li><a href="/press">Media Centre</a></li>
      </ul>
    </li>
</ul>
</nav>
