<%
  pages = {
    "Home"            => "/",
    "Ethical career?" => "/ethical-career",
    "What you can do" => "/what-you-can-do",
    "What we do"      => "/what-we-do",
    "Get involved"    => "/get-involved",
    "FAQ"             => "/faq",
    "Events"          => "/events",
    #"Blog"            => "/posts", 
    "Blog"            => "/blog",
    "Press"           => "/press"  
  }
%>

<nav id='menu' class='menu clearfix'>
  <ul>
    <% pages.each do |title,url| %>
      <% if title == current_page %>
        <li class="selected">
      <% else %>
        <li>
      <% end %>
      <%= link_to title,url %>
      </li>
    <% end %>
  </ul>
</nav>

