<nav id='menu' class='menu clearfix'>
  <ul>
  <li class='first' id='item_0'>
  <a href="/">Home</a></li>
<li class='selected' id='item_1'>
  <a href="/ethical-career">Ethical career?</a></li>
<li id='item_2'>
  <a href="/what-you-can-do">What you can do</a></li>
<li id='item_3'>
  <a href="/what-we-do">What we do</a></li>
<li id='item_4'>
  <a href="/get-involved">Get involved</a></li>
<li class='last' id='item_5'>
  <a href="/faq">FAQ</a></li>
    <li class='last' id='item_7'><a href="/events">Events</a></li>
  </ul>
</nav>
