<% if false %>
<%
  pages = {
    #"Home"            => "/",
    #"Ethical career?" => "/ethical-career",
    #"What you can do" => "/what-you-can-do",
    #"What we do"      => "/what-we-do",
    #"Get involved"    => "/get-involved",
    #"FAQ"             => "/faq",
    #"Events"          => "/events",
    ##"Blog"            => "/posts",  
    #"Blog"            => "/blog",  
    #"Press"           => "/press"

    "Home" => {"Home" => "/"},
    "Our Community" =>
    {
      "Our Community" => "/members",
      "Our members" => "/members",
      "Meet the team" => "/meet-the-team",
      "Events" => "/events"
    },

    "Your Career" =>
    {
      "Your Career" => "/career-research",
      "Current debate" => "/banker-vs-doctor",
      "Careers info"   => "/career-research",
      "Coming soon!"   => "/coming-soon"
    },

    "Membership" =>
    {
      "Membership" => "/join",
      "Why join?" => "/find-out-more",
      "Join now"  => "/join"
    },
    "Blog" => {"Blog" => "/blog"},
    "Press" =>
    {
      "Press" => "/press",
      "Media Centre" => "/press",
      "Our press coverage" => "/press-coverage"
    }
  }
%>

<nav id='menu' class='menu clearfix'>
  <ul>
    <% pages.each do |title| %>
      <% title[1].each do |name,url| %>
        <% if name == current_page %>
        <li class="selected">
        <% else %>
        <li>
        <% end %>
          <%= link_to name,url %>
        </li>
      <% end %>
    <% end %>
  </ul>
</nav>
<% end %>

<nav class='clearfix'>
<ul id='nav'>
    <li><a href="/">Home</a></li>
    <li>
      <a href="/find-out-more">Membership</a>
      <ul>
        <li><a href="/find-out-more">Why join?</a></li>
        <li><a href="/join">Join now</a></li>
      </ul>
    </li>
    <li>
      <a href="/members">Our Community</a>
      <ul>
        <li><a href="/find-out-more">About us</a></li>
        <li><a href="/members">Our members</a></li>
        <li><a href="/meet-the-team">Meet the team</a></li>
        <li><a href="/volunteer">Volunteer for us!</a></li>
        <li><a href="/events">Events</a></li>
      </ul>
    </li>
    <li>
      <a href="/banker-vs-aid-worker">Your Career</a>
      <ul>
        <li><a href="/career-research">Career resources</a></li> 
        <li><a href="/banker-vs-aid-worker">Banker vs Aid Worker debate</a></li>
        <li><a href="/coming-soon">Coming soon!</a></li>  
      </ul>
    </li>
    <li><a href="/blog">Blog</a></li>
    <li>
      <a href="/press">Press</a>
      <ul>
        <li><a href="/press">Media Centre</a></li>
        <li><a href="/coming-soon">Our press coverage</a></li>
      </ul>
    </li>
</ul>
</nav>
