<nav class='clearfix'>
<ul id='nav'>
    <li><a href="/">Home</a></li>
    <li>
      <a href="/find-out-more">About Us</a>
      <ul>
        <li><a href="/coming-soon">What is an effective altruist?</a></li>
        <li><a href="/why-join">What can 80,000 Hours do for me?</a></li>
      </ul>
    </li>
    <li>
      <a href="/community">Our Community</a>
      <ul>
        <li><a href="/members">Our members</a></li>
        <li><a href="/events">Events</a></li>
        <li><a href="/meet-the-team">Meet the team</a></li>
        <li><a href="/volunteer">Volunteer</a></li>
      </ul>
    </li>
    <li>
      <a href="/membership">Membership</a>
      <ul>
        <li><a href="/declaration">Our declaration</a></li>
        <li><a href="/why-join">Why join?</a></li>
        <li><a href="/join">Join now</a></li>
      </ul>
    </li>
    <li>
      <a href="/coming-soon">Your Career</a>
      <ul>
        <li><a href="/coming-soon">Getting started</a></li>
        <li><a href="/high-impact-careers">Types of high impact careers</a></li>
        <li><a href="/coming-soon">Conventional ethical careers?</a></li>
        <li><a href="/career-research">Careers research</a></li>
      </ul>
    </li>
    <li><%= link_to "Blog", posts_path %></li>
    <li>
      <a href="/press">Press</a>
    </li>
</ul>
</nav>
