<a class='social-btn-facebook-light' href='http://www.facebook.com/80000Hours'>Facebook</a>
<a class='social-btn-twitter-light' href='http://www.twitter.com/80000Hours'>Twitter</a>
<a class='social-btn-reddit-light' href='http://www.reddit.com/r/80000Hours'>Reddit</a>
<a class='social-btn-rss-light' href='/blog/feed.atom'>RSS</a>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=371972292815616";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div class="fb-like" data-href="http://www.facebook.com/80000Hours" data-colorscheme="dark" data-send="true" data-width="430" data-show-faces="false"></div>
