<div id="user_nav">
  <% if user_signed_in? %>
    <%= link_to current_user.email, "/profiles/#{current_user.id}" %>
    [<%= link_to "logout", "/logout" %>]
  <% else %>
    [<%= link_to "login", "/login" %>]
  <% end %>
</div>
