.alert
  .center
    %h2
      Sorry!
  %p
    We don't have a page with the address #{request.url}
  %p
    Try using the menu at the top of the page to navigate the site.
  %p
    If you are still having problems and think that this page should exist please email <a href="mailto:support@80000hours.org">support@80000hours.org</a> and let us know, thanks!
