<%= render :partial => 'admin_box' %>

<%
  members_html = "" 
  @members.each do |m|
    if m.avatar && m.user
      members_html += link_to image_tag(m.avatar.url(:small), :class=>"fp-profile-image"),"/members/#{m.slug}"
    end
  end
%>

<%
  careers_html = "" 
  @careers.each do |c|
    careers_html += link_to image_tag( "career_icons/#{c}.jpg", :class=>"fp-profile-image", :alt=>"#{c.humanize}"),"/career-profiles##{c.gsub(/_/,'-')}"
  end
%>

<%
  posts = Post.published.limit(4)
  latest_blog_html = "<p><h2>Latest blog posts:</h2></p>"
  posts.each do |p|
    latest_blog_html += "
                      <p>
                      <strong>#{p.created_at.strftime('%B %d, %Y')}</strong>
                      <br/>
                      <a href='#{post_path p}'>#{p.title}</a>
                      <br/>by #{p.author}
                      <a class='btn' href='#{post_path p}'>Read more...</a>
                      </p>
                      <hr/>
                      "
  end
%>

<%
  endorsement = Endorsement.all.shuffle.first
  endorsement_html = "<h2>Endorsements of 80,000 Hours (<a href='/endorsements'>more</a>)</h2>
                        #{markdown endorsement.body}
                        <hr/>
                        #{endorsement.author}
                        <br/>
                        #{markdown endorsement.position}
                      "
%>

<% content = @page.body %>
<% content = content.gsub(/###MEMBERS###/, members_html) %>
<% content = content.gsub(/###CAREERS###/, careers_html) %>
<% content = content.gsub(/###LATEST_BLOG###/, latest_blog_html) %>
<% content = content.gsub(/###ENDORSEMENT###/, endorsement_html) %>
<%= markdown content %>

