<%
  members_html = "
We have #{@total_members} members worldwide, you can see them all on <a href='/members'>the member list</a>.
<ul class='thumbnails'>"
  @members.each do |m|
    if m.avatar
      # note: gets processed by markdown so can't have leading spaces
      members_html += "
<li class='span1'>
#{link_to image_tag(m.avatar.url(:small), :class=>"thumbnail"),"/members/#{m.slug}"}
</li>"
    end
  end
  members_html += "
</ul>"
%>

<%
  careers_html = "
We have done research into some of the best careers for effective altruists.
<ul class='thumbnails'>"
  @careers.each do |c|
    # note: gets processed by markdown so can't have leading spaces
    careers_html += "
<li class='span1'>
#{link_to image_tag( "career_icons/#{c}.jpg", :class=>"thumbnail", :alt=>"#{c.humanize}"),"/career-profiles##{c.gsub(/_/,'-')}"}
</li>"
  end
  careers_html += "
</ul>"
%>

<%
  posts = Post.published.limit(5)
  latest_blog_html = ""
  posts.each do |p|
    # note: gets processed by markdown so can't have leading spaces
    latest_blog_html += "
<div class='blog-latest'>
<a class='title' href='#{post_path p}'>#{p.title}</a>
<br/><span class='author'>#{(p.user ? p.user.name : p.author)},</span>  <span class='date'>#{p.created_at.strftime('%B %d, %Y')}</span>
</div>
"
  end
%>

<% content = @page.body %>
<% content = content.gsub(/\|\*MEMBERS\*\|/, members_html) %>
<% content = content.gsub(/\|\*CAREERS\*\|/, careers_html) %>
<% content = content.gsub(/\|\*LATEST_BLOG\*\|/, latest_blog_html) %>
<%= markdown content %>

