<%= render :partial => 'admin_box' %>

<%
  members_html = "" 
  @members.each do |m|
    if m.avatar && m.user
      members_html += link_to image_tag(m.avatar.url(:small), :class=>"fp-profile-image"),"/members/#{m.slug}"
    end
  end
%>

<%
  post = Post.last
  latest_blog_html = "<h2>Latest blog post on #{post.created_at.strftime('%B %d, %Y')}</h2>
                      <p>
                        <a href='#{post_path post}'>#{post.title}</a> by #{post.author}
                      </p>
                      <div class='read-more'><a href='#{post_path post}'>Read more...</a></div>
                      <br/>
                      "

  latest_twitter_html = "<h2>Tweets</h2>
                          Isn't this a great Twitter account? by <a href='http://www.twitter.com/80000Hours'>@80000Hours</a>"
%>

<% content = @page.body %>
<% content = content.gsub(/###MEMBERS###/, members_html) %>
<% content = content.gsub(/###LATEST_BLOG###/, latest_blog_html) %>
<% content = content.gsub(/###LATEST_TWITTER###/, latest_twitter_html) %>
<%= markdown content %>

