<%= render :partial => 'admin_box' %>

<%
  members_html = "" 
  @members.each do |m|
    if m.avatar && m.user
      members_html += link_to image_tag(m.avatar.url(:small), :class=>"fp-profile-image"),"/members/#{m.slug}"
    end
  end
%>

<%
  careers_html = "" 
  @careers.each do |c|
    careers_html += link_to image_tag( "career_icons/#{c}.jpg", :class=>"fp-profile-image", :alt=>"#{c.humanize}"),"/career-profiles##{c.titleize}"
  end
%>

<%
  posts = Post.all(:order => "created_at DESC",:limit => 4)
  latest_blog_html = "<h2>Latest blog posts:</h2></h2>"
  posts.each do |p|
    latest_blog_html += "
                      <div class='fp-blog-summary'>
                      <span class='fp-blog-title'>
                      <strong>#{p.created_at.strftime('%B %d, %Y')}</strong>
                      <br/>
                      <a href='#{post_path p}'>#{p.title}</a>
                      <br/>by #{p.author}
                      </span>
                      <span class='fp-blog-read-more'>
                      <div class='read-more'><a href='#{post_path p}'>Read more...</a></div>
                      </span>
                      </div>
                      <hr/>
                      "
  end

  latest_twitter_html = "<h2>Tweets</h2>
                          Isn't this a great Twitter account? by <a href='http://www.twitter.com/80000Hours'>@80000Hours</a>"
%>

<%
  endorsement = Endorsement.all.shuffle.first
  endorsement_html = "<h2>Endorsements of 80,000 Hours (<a href='/endorsements'>more</a>)</h2>
                        #{markdown endorsement.body}
                        <hr/>
                        #{endorsement.author}
                        <br/>
                        #{markdown endorsement.position}
                      "

%>

<% content = @page.body %>
<% content = content.gsub(/###MEMBERS###/, members_html) %>
<% content = content.gsub(/###CAREERS###/, careers_html) %>
<% content = content.gsub(/###LATEST_BLOG###/, latest_blog_html) %>
<% content = content.gsub(/###LATEST_TWITTER###/, latest_twitter_html) %>
<% content = content.gsub(/###ENDORSEMENT###/, endorsement_html) %>
<%= markdown content %>

