
<%
  mailing_list_html = "
  <div id='mc_embed_signup'>
  <div>
  <a href='http://80000hours.us2.list-manage.com/subscribe?u=aba12f58bbe8075560abdc5b7&id=43bc1ae55c' class='btn btn-primary'>Join mailing list</a>
  </div>
  <a class='social-btn-facebook' href='http://www.facebook.com/80000Hours'>Facebook</a>
  <a class='social-btn-twitter' href='http://www.twitter.com/80000Hours'>Twitter</a>
  <a class='social-btn-reddit' href='http://reddit.com/r/EffectiveAltruism'>Reddit</a>
  <a class='social-btn-rss' href='/blog/feed.atom'>RSS</a>
  </div>
"
%>

<% content = @page.body %>
<%= (markdown content).gsub(/MAILING_LIST/, mailing_list_html).html_safe  %>
