<%
  community_html = "
  <p>
  Join our community of #{EtkhProfile.all.size} members who all want to use their career, in an effective way, to make the world a better place. <a href='http://80000hours.org/join'>Become a member</a> or find out more about <a href ='http://80000hours.org/our-community'>our community</a>.
  </p>
"
%>

<%
  mailing_list_html = "
  <div id='mc_embed_signup'>
  <a class='social-btn-facebook' href='http://www.facebook.com/80000Hours'>Facebook</a>
  <a class='social-btn-twitter' href='http://www.twitter.com/80000Hours'>Twitter</a>
  <a class='social-btn-reddit' href='http://reddit.com/r/EffectiveAltruism'>Reddit</a>
  <a class='social-btn-rss' href='/blog/feed.atom'>RSS</a>
  </div>
"
%>

<% content = @page.body %>
<% content = content.gsub(/COMMUNITY/, community_html) %>
<% content = content.gsub(/MAILING_LIST/, mailing_list_html) %>
<%= markdown content %>
