= render :partial => 'admin_box'

= markdown @page.body

.grid_6
  .box
    %h2 Meet our members!
    - @members.each do |m|
      - if m.avatar && m.user
        = link_to image_tag(m.avatar.url(:small), :class=>"fp-profile-image"),"/members/#{m.slug}"
