<div class="box">
<h2>Subscribe to the 80,000 Hours mailing list</h2>
<!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup">
<form action="http://eightythousand.us2.list-manage.com/subscribe/post?u=aba12f58bbe8075560abdc5b7&amp;id=43bc1ae55c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
	<input style="width:500px" type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
	<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button" style="height: 40px; width: 200px; font-size: 0.8em">
</form>
</div>
<!--End mc_embed_signup-->
</div>
