.row
  .span2
    .box.sidebar
      = render :partial => "/shared/charity_donation_member_sidebar"

  .span8
    .box.left-border
      .page-header
        %h1 Make a donation
      %p
        Add details of a charity donation to your 80,000 Hours profile by using the form below.
      %p
        For accountability we need you to upload a PDF donation receipt, or to forward an email receipt to us.

      = render :partial => 'form', :locals => { :page => :new }
