.row
  .span2
    .box.sidebar
      = render :partial => "shared/cause_donation_member_sidebar"

  .span10
    .box.left-border
      .page-header
        %h1 Donation to #{@donation.cause.name}
      %p
        = render @donation

      - if current_user && current_user == @donation.user
        %hr
        %h2 This is your donation
        %p
          You can change the privacy settings of your donation by clicking the button below
        %p
          =link_to 'Edit donation', edit_donation_path(@donation), :class => 'btn'
