.page-header
  %h1 Sign in to 80,000 Hours

.alert.alert-info
  If you've linked your account to an external provider such as Facebook or Google, then you can click the appropriate button to login.

= render partial: 'authentications/options'

%hr

If you haven't linked your account then #{link_to 'enter your email and password below', nil, id: 'toggle-signin-form'}.

#signin-form
  %br
  = render partial: 'form', locals: {url: session_path(:user)}

.box
  %hr
  = render "links"

<script>
$(document).ready( function() {
// hide the signin form
$('#signin-form').css('display', 'none');

// change the link text to 'click here'
$('#toggle-signin-form').html( 'click here to login' );

// show signup form on click
$('#toggle-signin-form').attr( 'href', null );
$('#toggle-signin-form').click( function(){$('#signin-form').fadeIn();} )
});
</script>
