.page-header
  %h1 Sign in to 80,000 Hours

%p There are two ways to sign in to 80,000 Hours:

.row
  .span6
    .alert.alert-info
      %h1.alert-heading Email and password
      Log in using your email and password using the form below. Only use this option if you originally entered these details when registering!

  .span6
    .alert.alert-info
      %h1.alert-heading External account
      If you've linked your account to an external provider such as Facebook or Google, then you can click the appropriate button to login.

.row
  .span6
    = render partial: 'form', locals: {url: session_path(:user)}
  .span6
    = render partial: 'authentications/options'
.box
  %hr
  = render "links"
