<div class="box">

<div class="profile-form">
  <%= render partial: 'form', locals: {url: session_path(:user)} %>
  <%= render partial: "devise/shared/links" %>
</div>

<hr/>
<%= link_to 'Login with Facebook', '/auth/facebook', id: 'fb-connect' %>
<hr/>

<p>
<h2>Not a member?</h2>
<a class="btn btn-large" href="/find-out-more">Find out more</a>
<a class="btn btn-large" href="/join">Join now!</a>
</p>
</div>
