.box
  .page-header
    %h1 80,000 Hours member survey: #{@survey.title}
  .survey
    .center
      %iframe{ src: "#{@url}", width:"800", height: "500", frameborder: "0", marginheight: "0", marginwidth: "0" }
        Loading...
