.row
  .span12
    .box
      .page-header
        %h1 Endorsements for 80,000 Hours
    
- @endorsements.each do |e|
  .row
    .span6
      .endorsement
        .body
          = markdown e.body
        .attribution
          .author
            = e.author
          - if !e.position.nil?
            .position
              = e.position

