%span.author
  - if post.user
    =(link_to post.user.name, post.user) + ","
  - else
    =(link_to post.author, { :controller => 'posts', :action => :author, :id => post.author }) + ","
%span.date= post.created_at.strftime("%B %d, %Y")
