The 80,000 Hours blog is a place where members of the effective altruist
community collaborate to create and share important ideas. It doesn't present
the official position of 80,000 Hours as an organisation.
