.entry
  = render :partial => 'posts/voting', :locals => { :post => post }

  .heading
    %h3
      %a{:href => post_path(post)}
        = post.title
      - if post.draft
        %span.label.label-warning Draft post (not publicly visible)

    %h4
      = link_to_post_author( post )
  .clearfix
