.entry
  = render :partial => 'posts/voting', :locals => { :post => post }

  .heading
    %h3
      %a{:href => post_path(post)}
        = post.title
    %h4
      %span.author= post.author + ", "
      %span.date= post.created_at.strftime("%B %d, %Y")
  .clearfix
