.blog {
  .entry {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;

    h1,h2,h3,h4,h5,h6 {
      font-weight: bold;
      margin-bottom: 5px;

      a {
        color: $text_color !important;

        &:hover {
          color: $magenta_2 !important;
        }
      }

    }

    .date {
      color: #555;
      padding-bottom: 5px;
      border-bottom: 1px solid #ccc;

    }
    
    .content {
      padding-top: 10px;
      padding-bottom: 10px;
    }

    .tags {
      padding-top: 5px;
      padding-bottom: 5px;
    }
    .comments {
      padding-top: 5px;
      padding-bottom: 5px;
    }
    .fblike {
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }

  .sidebar {
    font-size: 0.9em;
   }

  img.rss
  {
    padding:0px;
    margin:0px;
    width: 20px;
    height: 20px;
    padding-right: 5px;
    margin-bottom: -3px;
  }


  .attribution {
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    font-style: italic;

    p {
      padding:0px;
      margin:0px;
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }
  .bold {
    font-weight: bold;
  }

  .tag_size1 { font-size: 0.8em; }
  .tag_size2 { font-size: 1.0em; }
  .tag_size3 { font-size: 1.2em; }
  .tag_size4 { font-size: 1.4em; }

  blockquote {
    font-family: helvetica !important;
    font-size: 1em;
    background:#f9f9f9;
    border-left:5px solid #ccc;
    margin:1.5em 10px;
    padding:.5em 10px;
    p { 
      padding: 5px;
    }
  }
  blockquote:before {
    color:#ccc;
    font-size:4em;
    line-height:.1em;
    margin-right:.25em;
    vertical-align:-.4em;
  }

  pre {
    code {
      font-size: 0.6em;
     white-space: pre-wrap;
     white-space: -moz-pre-wrap;
     white-space: -o-pre-wrap;
    }
  }


  .image {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    img {
      width: 100%;
    }
    border: 1px solid #ccc;
    @include box_shadow(#ccc, 0px, 0px, 2px);
    @include rounded_borders(#ccc, 1px, 6px);

    .caption {
      font-size: 0.6em;
    }
  }

}

