
.blog {
  .entry {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;

    .read-more {
      a{
        @include box_shadow($magenta_2, 0px, 0px, 2px);
        @include rounded_borders(#ccc, 1px, 6px);
        padding: 5px;

        &:hover {
          @include box_shadow(#ccc, 0px, 0px, 1px);
        }
      }
    }

    .title {
      font-weight: bold;
      margin-bottom: 5px;

      a {
        color: $text_color !important;

        &:hover {
          color: $magenta_2 !important;
        }
      }

    }

    .date {
      color: #555;
      padding-bottom: 5px;
      border-bottom: 1px solid #ccc;

    }
    
    .content {
      padding-top: 10px;
      padding-bottom: 10px;
      line-height: 2em;
    }

    .tags {
      padding-top: 5px;
      padding-bottom: 5px;
    }
    .comments {
      padding-top: 5px;
      padding-bottom: 5px;
    }
    .fblike {
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }

  #sidebar {
    float: right;
    font-size: 0.8em;
   }

  img.rss
  {
    padding:0px;
    margin:0px;
    width: 20px;
    height: 20px;
    padding-right: 5px;
    margin-bottom: -3px;
  }


  .attribution {
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    font-style: italic;

    p {
      padding:0px;
      margin:0px;
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }
  .bold {
    font-weight: bold;
  }

  .tag_size1 { font-size: 0.8em; }
  .tag_size2 { font-size: 1.0em; }
  .tag_size3 { font-size: 1.2em; }
  .tag_size4 { font-size: 1.4em; }

  blockquote {
    background:#f9f9f9;
    border-left:5px solid #ccc;
    margin:1.5em 10px;
    padding:.5em 10px;
  }
  blockquote:before {
    color:#ccc;
    font-size:4em;
    line-height:.1em;
    margin-right:.25em;
    vertical-align:-.4em;
  }

  pre {
    code {
      font-size: 0.6em;
     white-space: pre-wrap;
     white-space: -moz-pre-wrap;
     white-space: -o-pre-wrap;
    }
  }


  .image {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    img {
      width: 100%;
    }
    border: 1px solid #ccc;
    @include box_shadow(#ccc, 0px, 0px, 2px);
    @include rounded_borders(#ccc, 1px, 6px);

    .caption {
      font-size: 0.6em;
    }
  }

}

.pagination {
  text-align: center;
  padding: 0.3em;
  cursor: default;
  a, span, em {
    padding: 0.2em 0.5em;
  }
  .disabled {
    color: #aaaaaa;
  }
  .current {
    font-style: normal;
    font-weight: bold;
    color: $text_color;
  }
  a {
    border: 1px solid white;
    color: #0063dc;
    text-decoration: none;
    &:hover, &:focus {
      border: 1px solid #dddddd;
      /*background: #efefef;*/
      /*color: white;*/
    }
  }
  .page_info {
    color: #aaaaaa;
    padding-top: 0.8em;
  }
  .previous_page {
    margin-right: 1em;
  }
  .next_page {
    margin-left: 1em;
  }
}
