$dim_page_width: 800px;
$dim_margin_top: 50px;
$dim_margin_bottom: 100px;

$dim_border_radius: 0px;

$dim_main_shadow_fade: 20px;
$dim_fpbox_shadow_fade: 20px;

$dim_header_height: 115px;

$dim_fboxes_width: 500px;

$dim_page_padding_top: 20px;

$dim_footer_height: 60px;
$dim_top_and_tail_border_width: 3px;
