#content {
  table {
    font-size: 0.8em;
    @include rounded_borders(#ccc, 1px, $dim_border_radius);
    @include box_shadow(#ccc, 0px, 0px, 5px);
    padding: 10px;

    text-align: left;
    tr {
      border-bottom: 1px solid #ccc;
    }

    tr:hover {
      background: #efefef;
    }

    th {
      padding: 10px;
      font-weight: bold;
      border-right: 1px solid #ccc;
    }

    td {
      padding: 10px;
      padding-left: 30px;
      border-right: 1px solid #ccc;
    }

    // even smaller font in footnote tables
    &.footnote {
      td {
        padding: 10px;
      }
      line-height: 1.4em;
      font-size: 0.6em;
    }
  }
}
