@import "shared/partials";

#comments-container {
  #comments {
    .comment {
      @include rounded_borders(#ccc, 1px, 5px);
    }
  }

  .comment {
    .errors {
      display: none;
    }
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
  
    .nested-comments {
      margin-left: 10px;
      margin-right: 10px;
    }
    .content {
  
      padding: 10px;
      .header {
        padding: 5px;
        border-bottom: 1px solid #efefef;
      }
  
      .body {
        padding: 5px;
      }

      .form{ 
        display: none;
      }
    }
  }
}
