@import "colors";
@import "rounded_borders";
@import "box_shadow";
@import "dimensions";

@mixin box_style{
  @include rounded_borders(#ccc, 1px, $dim_border_radius);
  @include box_shadow(#ccc, 0px, 0px, 6px);
  background: $box_color; 
}

@mixin box_style_hover{
  @include box_shadow(#ccc, 0px, 0px, 10px);
}


html, body {
  height: 100%;
}

body {
  margin: 0 auto;

  color: $text_color;
  background: $body_bg_color;
}

#wrapper {
  background: $box_color; 
  background: $body_bg_color;
}

header {
  margin-left:auto;
  margin-right:auto;
  height: auto;
  text-align: center;

  background: $header_bg_color;

  border-bottom: $dim_top_and_tail_border_width solid $magenta_2;

  #header-content
  {
    width: $dim_page_width;
    margin-left: auto;
    margin-right: auto;
    padding-top: $dim_page_padding_top;

    #header-logo-and-login {
      #header-logo { 
        float:left; clear: none;
        padding-left: 5px;
      }
      clear: none;
      width: $dim_page_width;
      padding-bottom: 30px;

      img.social_image
      {
        padding:0px;
        margin:0px;
        width: 20px;
        height: 20px;
        padding-right: 3px;
        text-align: middle;
      }
    }

    a {
      text-decoration: none;
    }
  }

  position: relative;

  background: -webkit-radial-gradient( center 130%, #555, $header_bg_color 300px);
  background: -moz-radial-gradient(    center 130%, #555, $header_bg_color 300px);
  background: -o-radial-gradient(      center 130%, #555, $header_bg_color 300px);
  background: -ms-radial-gradient(     center 130%, #555, $header_bg_color 300px);
}


.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* -------------- rails notice ----------- */
.alert { 
  margin: 10px;
}
/* -------------- /rails notice ----------- */


/* -------------- content ----------- */
.fp-splash-container {
  padding-top: 10px;
  padding-bottom: 20px;
}

.fp-splash {
  float: left;
  color: #efefef;

  width: 67%;
  .slogan {
    font-size: 34px;
    text-align: left;
    font-weight: bold;
    margin-top: 10px;
    color: #fff;
  }
  .call-to-action {
    font-size: 24px;
    text-align: left;
    font-weight: normal;
    margin-top: 10px;
    line-height: 1.4em;
    color: #efefef;
  }

}
.right {
  float: right;
}
  .float-right-button {
    color: #ffffff;
    font-size: 34px;
    float: right;
    display: inline block;
    padding: 25px;
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;
    font-weight: bold;
    margin-top: 35px;
    margin-right: 10px;
    margin-bottom: 30px;
    color: #ffffff;
    background: $magenta_2;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
  
    cursor: pointer;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    text-align: center;
  
    &:hover {
      @include box_shadow(#ccc, 0px, 0px, 5px);
      cursor: pointer;
    }
  }
.fp-profile-image {
  margin: 8px;
  @include rounded_borders(#ccc, 1px, $dim_border_radius);
  @include box_shadow(#ccc, 0px, 0px, 5px);
  width: 64px;
  height: 64px;
}

#content {
  color: $text_color;

  /* these are used for text content */
  .box {
    margin-top: 20px;
    margin-bottom: 20px;

    padding: 20px;

    // for spanning links
    position:relative;

    @include box_style;

    &:hover {
      @include box_style_hover;
    }

    &.height_150 {
      height: 150px;
    }
  }

  .accordion, .accordion-expand-first {
    h1,h2,h3,h4,h5,h6 {
      font-weight: bold;
      a {
        color: $text_color;
      }
      a:hover {
        color: $link_color;
      }
    }
  }
}
/* -------------- /content ----------- */

footer {
  color: #fff;
  background: $footer_bg_color;
  border-top: $dim_top_and_tail_border_width solid $magenta_2;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;

  .footer_text
  {
    font-size: 1.5em;
    font-weight: normal;
    padding: 20px;
    clear: both;
    margin-left: auto ;
    margin-right: auto ;

    a {
      color: #fff;
      text-decoration: none;
    }
  }

}

.like_button_div{
  margin-left: auto;
  margin-right: auto;
  width: 350px;
  text-align: center; height: 50px; background: #fff;
  .tr  {
    margin-left: auto;
    margin-right: auto;
  }
}


img.shadow {
  @include rounded_borders(#ccc, 1px, $dim_border_radius);
  @include box_shadow(#ccc, 0px, 0px, 5px);
}


#video_image {
  @include box_style;
  padding: 0px !important;
  margin: 0px !important;
  margin-top:    15px !important;
  margin-bottom: 15px !important;
  width: 415px;
  height: 233px;
  cursor: pointer;
}

.box-container {
  text-align: left;
}


// top right: user login, social buttons
#interaction
{
  float: right;
  text-align: right;
  color: #efefef;
  padding-right: 10px;
  font-size: 12px;

  .user-login{
    padding-bottom: 5px;
  }

  a {
    color: $nav_link_color;
    margin-left: 1px;
    white-space: nowrap;
    text-decoration:none;
  }
  a:hover {
    color: $nav_link_hover_color;
    background: $nav_bar_color;
    text-decoration:none;
  }

  .social {
    float: right;
    display:block;
    height: 30px;
  }
}

.footer-link
{
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;

  a:hover {
    color: $link_hover_color !important;
  }
}

.fb-like-box-small
{
  height: 63px;
}
.fb-like-box-large
{
  /*height: 400px;*/
  padding: 15px;
  width: 292px;
  margin: 20px;
  margin-left:auto;
  margin-right:auto;
  @include rounded_borders(#ccc, 1px, 6px);
  @include box_shadow(#ccc, 0px, 0px, 5px);
}

.member-profile {
  /*min-height: 110px;*/
  .avatar {
    float: right;
    @include box_shadow(#555, 0px, 0px, 6px);
    height: 200px;
    margin: 10px;
  }

  .name {
    font-size: 1.3em;
    font-weight: bold;
    text-shadow: 0 1px 1px rgba(0.3,0.3,0.3,.3);
    padding-bottom: 5px;
  }
  .location {
    font-size: 1.0em;
    font-weight: normal;
    color: lighten($text_color,50%);
  }
}
.member-profile-condensed {
  height: 64px;
  width: 70%;
  @include box_style;
  padding: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;

  .avatar {
    float: right;
    @include box_shadow(#555, 0px, 0px, 2px);
    height: 64px;

    img {
      height: 64px;
      width: 64px;
    }
  }

  .name {
    font-size: 1.3em;
    font-weight: bold;
    padding-top: 20px;
    padding-left: 20px;
  }
  .location {
    font-size: 1.0em;
    font-weight: normal;
    color: lighten($text_color,50%);
  }
}

sup {
  vertical-align: baseline;
  font-size: 0.8em;
  position: relative;
  top: -0.4em;
}


.web-admin-box {
  color: #262626;
  background-color: #f2dede;
  padding: 5px;
  margin-top: 10px;
  @include rounded_borders(#b94a48, 1px, 3px);
}

@import "nav";
@import "blog";

