@import "shared/partials";

html, body {
  height: 100%;
}

body {
  margin: 0 auto;

  color: $text_color;
  background: $body_bg_color;
}

#wrapper {
  background: $box_color; 
  background: $body_bg_color;
}

.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.alert {
  margin: 10px;
}


/* -------------- content ----------- */
.fp-splash {
  h1 {
    color: #ffffff;
  }
  h3 {
    color: #efefef;
  }
  padding-bottom: 20px;
}

.fp-splash-find-out-more {
  float: right;
  font-size: 30px !important;
  margin-top: 35px;
}

.right {
  float: right;
}

#content {

  color: $text_color;

  /* these are used for text content */
  .box {
    padding-top: 20px;
    padding-bottom: 20px;

    // for spanning links
    position:relative;

    &.left-border {
      border-left: 1px solid #efefef;
      padding-left: 20px;
    }
    &.right-border {
      border-right: 1px solid #efefef;
      padding-right: 20px;
    }

    &.tight {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }

  .ui-accordion-header {
    h1,h2,h3,h4,h5,h6 {
      a {
        color: $text_color;
      }
      a:hover {
        color: $link_color;
      }
    }
  }
  .ui-accordion-content {
    a{ color: $link_color; }
  }

  ul.nav.nav-pills.nav-stacked {
    padding-top: 35px;
    li.heading, li.heading a{
      font-weight: bold;
    }
    li.heading a:hover {
      color: $link_hover_color;
    }
    li.heading {
      border-bottom: 1px solid #efefef;
    }
  }

  /* front page blog latest snippets */
  .blog-latest, .blog-latest-comment {
    font-size: 0.9em;
    padding-top: 5px;
    padding-bottom: 15px;
    .author {
      font-weight: bold;
      a { 
        color: $text_color;
      }
    }
    .date {
      padding-left: 5px;
      color: #777;
    }
  }

  .endorsement {
    border-left: 5px solid #efefef;
    margin: 30px;
    padding: 10px;
    .body {
      color: #262626;
    }
  
    .attribution {
      .author {
        font-weight: bold;
        font-size: 13px;
        color: #555;
      }
      .position {
        color: #999;
        font-size: 12px;
      }
      text-align: right;
    }
  }
}
/* -------------- /content ----------- */


img.shadow {
  @include rounded_borders(#ccc, 1px, $dim_border_radius);
  @include box_shadow(#ccc, 0px, 0px, 5px);
}


#video_image {
  padding: 0px !important;
  margin: 0px !important;
  /*margin-top:    15px !important;*/
  /*margin-bottom: 15px !important;*/
  /*width: 415px;*/
  /*height: 233px;*/
  cursor: pointer;
}

.box-container {
  text-align: left;
}


sup {
  vertical-align: baseline;
  font-size: 0.8em;
  position: relative;
  top: -0.4em;
}


.web-admin-box {
  color: #262626;
  background-color: #f2dede;
  padding: 5px;
  margin-top: 10px;
  @include rounded_borders(#b94a48, 1px, 3px);
}

a.edit
{
  color: #555;
  padding-right: 5px;
}
