@import "shared/partials";

.event {
  padding: 20px;
  @include rounded_borders(#ccc, 1px, $dim_border_radius);
  @include box_shadow(#ccc, 0px, 0px, 3px);

  h1 { font-size: 1.7em; margin-bottom: 0px; line-height: 1.1em }
  h2 { font-size: 1.4em; color: #555 }
}
