@import "shared/rounded_borders";
@import "shared/colors";
@import "shared/box_shadow";
form {
  input, textarea {
    background:#fff;
    border:1px solid #dedede;
    padding:10px;
    /*margin-top:-3px;*/
    color:#3a3a3a;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
  }
  textarea {
    height: 100px;
    &.page-edit {
      width: 95% !important;
      height: 400px !important;
    }
  }
  input:focus, textarea:focus {
    border:1px solid $magenta_2;
  }

  legend {
    font-weight: bold;
    font-size: 1.2em;
  }

  .button {
    border: 1px solid lighten($magenta_2,10%) !important;
    min-width: 200px;
    @include box_shadow($magenta_2, 0px, 0px, 6px);

    &:hover {
      @include box_shadow($magenta_2, 0px, 0px, 1px);
    }
  }

  .field_with_errors {
    input, textarea {
      @include rounded_borders(#f00, 2px, 6px);
      @include box_shadow(#fcc, 0px, 0px, 15px);
    }
    display:inline;
  }
}


.mailing-list-form {
  color: $text_color;

  &.standard {
    .email {
      width: 320px;
      padding: 7px;
      margin: 0px;
      color: $grey_2;
      display: inline-block;
      outline: none;
      text-decoration: none;
      text-shadow: 0 1px 1px rgba(0,0,0,.3);
      @include rounded_borders(#ccc, 1px, 6px);
      text-align: center;
    }
    .submit-button {
      @include rounded_borders(#ccc, 1px, 6px);
      @include box_shadow(#ccc, 0px, 0px, 5px);
      background-color: #fff;
      padding: 7px 20px;
      margin: 5px;
      text-align: center;

      &:hover {
        /*background: #efefef;*/
        @include box_shadow(#ccc, 0px, 0px, 0px);
        cursor: pointer;
      }
    }
  }

  &.header {
    float:left;
    color: #efefef;
    margin-top: -2px;
    padding-right: 5px;
    label {
      font-size: 1.5em;
    }
    .text {
      padding-right: 5px;
    }
    .email {
      width: 150px;
      font-size: 1.0em;
      margin: 0px;
      color: $grey_2;
      padding: 3px;
      display: inline-block;
      outline: none;
      text-decoration: none;
      /*text-shadow: 0 1px 1px rgba(0,0,0,.3);*/
      /*@include rounded_borders(#ccc, 1px, 6px);*/
      text-align: center;
      height: 12px;
      @include rounded_borders(#ccc, 1px, 3px);
    }
    .submit-button {
      font-size: 1.0em !important;
      height: 21px !important;
      @include rounded_borders(#ccc, 1px, 3px);
      @include box_shadow(#ccc, 0px, 0px, 5px);
      background-color: #fff;
      text-align: center !important;
      color: $magenta_2;
      padding: 2px !important;
      padding-left: 4px !important;
      padding-right: 4px !important;

      &:hover {
        /*background: #efefef;*/
        color: #555;
        @include box_shadow(#ccc, 0px, 0px, 0px);
        cursor: pointer;
      }
    }
  }
}

.defaultText {
  color: $grey_2;
}
.defaultTextActive {
  color: #a1a1a1;
}

/* ----- SimpleForm Styles ----- */
.simple_form {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  font-size: 0.8em;
}

.simple_form div.input {
  margin-bottom: 10px;
}

.simple_form textarea.large {
  height: 300px;
  width: 95%;
}

.simple_form .slider-container {
  padding-bottom: 30px;
}

.simple_form .slider-group {
  margin-left: 260px;
  width: 440px;
  display: block inline;
  padding-bottom: 10px;
}

.simple_form .check-group {
  margin-left: 130px;
}

.simple_form .slider-box {
  width: 340px;
  margin-left: 250px;
  height: 70px;
  padding-top: 10px;
  border: 1px solid black;
}

.simple_form .slider_value {
  font-size: 1.2em;
}

.simple_form label {
  float: left;
  width: 230px;
  text-align: right;
  margin: 2px 10px;
}

div.boolean {
  margin-left: 120px;
}
.simple_form input[type='submit'] {
}

div.boolean label, label.collection_radio {
  float: none;
  margin: 0;
}

label.collection_radio {
  margin-right: 10px;
  vertical-align: -2px;
  margin-left:   2px;
}

.field_with_errors {
  background-color: #ff3333;
}

.simple_form .error {
  clear:   left;
  color:   black;
  display: block;
  margin-left: 120px;
  font-size:    12px;
}

.simple_form .hint {
  clear: left;
  margin-left: 260px;
  font-size:    12px;
  color: #555;
  display: block;
  font-style: italic;
}

input.radio {
  margin-right: 5px;
  vertical-align: -3px;
}

input.check_boxes {
  margin-left: 3px;
  vertical-align: -3px;
}

label.collection_check_boxes {
  float: none;
  margin: 0;
  vertical-align: -2px;
  margin-left:   2px;
}

.simple_form .declaration {
  width: 80%;
  margin-left:auto;
  margin-right:auto;
}
