@import "shared/partials";
@import "shared/colors";

.navbar-inverse .nav li.dropdown.open > .dropdown-toggle, .navbar-inverse .nav li.dropdown.active > .dropdown-toggle, .navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle {
 background: transparent !important; 
}

header {
  background: $header_gradient_end;
  /*background-image: url('/assets/bg/noise.png'); /* fallback */
  /*background-image: url('/assets/bg/noise.png'), -webkit-gradient(linear, left top, left bottom, from($header_gradient_start), to($header_gradient_end));*/ /* Saf4+, Chrome */
  /*background-image: url('/assets/bg/noise.png'), -webkit-linear-gradient(top, $header_gradient_start, $header_gradient_end);*/ /* Chrome 10+, Saf5.1+ */
  /*background-image: url('/assets/bg/noise.png'),    -moz-linear-gradient(top, $header_gradient_start, $header_gradient_end);*/ /* FF3.6+ */
  /*background-image: url('/assets/bg/noise.png'),     -ms-linear-gradient(top, $header_gradient_start, $header_gradient_end);*/ /* IE10 */
  /*background-image: url('/assets/bg/noise.png'),      -o-linear-gradient(top, $header_gradient_start, $header_gradient_end);*/ /* Opera 11.10+ */
  /*background-image: url('/assets/bg/noise.png'),         linear-gradient(top, $header_gradient_start, $header_gradient_end);*/

  background-image: -webkit-gradient(linear, left top, left bottom, from($header_gradient_start), to($header_gradient_end)); /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, $header_gradient_start, $header_gradient_end); /* Chrome 10+, Saf5.1+ */
  background-image:    -moz-linear-gradient(top, $header_gradient_start, $header_gradient_end); /* FF3.6+ */
  background-image:     -ms-linear-gradient(top, $header_gradient_start, $header_gradient_end); /* IE10 */
  background-image:      -o-linear-gradient(top, $header_gradient_start, $header_gradient_end); /* Opera 11.10+ */
  background-image:         linear-gradient(top, $header_gradient_start, $header_gradient_end);

  .navbar-container {
    padding-bottom: 0px;
	
	.row .span12 {
	  height: 25px;
	}
  }
  .navbar-top {
    font-size: 100%;
    /*padding-bottom: 10px;*/
    margin-bottom: 10px !important;
  }

  .navbar-inner {
    background-color: transparent !important;
    background-image: none !important;
    border: none !important;
    @include box_shadow(lighten($header_bg_color,20%), 0px, 0px, 0px);
    font-size: 100%;
  }

  .navbar {
    margin-bottom: 0px !important;
  }

  .navbar-menu {
    /*font-size: 0.8em;*/
    /*@include rounded_borders(lighten($header_bg_color,20%), 1px, 6px);*/
    /*@include box_shadow(lighten($header_bg_color,20%), 0px, 0px, 5px);*/

    .navbar-inner {
      background-color: transparent !important;
      background-image: none !important;
      border: none !important;
      padding-left: 0px !important;
	  

      a.top-level{ 
        color: #ffffff !important;
        margin-right: 20px;

        &:hover {
          color: $magenta_2 !important;
        }
      }

      ul li a.top-level {
        padding-left:0px !important;
      }

      ul li.active.top-level a.top-level{ 
        color: $magenta_2 !important;
        padding-left:0px !important;
        background-color: transparent !important;
        background-image: none !important;
        @include box_shadow(lighten($header_bg_color,20%), 0px, 0px, 0px);
      }
      ul li.active a.top-level:hover { background: none !important; }
  
      li.dropdown.top-level.open { background: transparent !important; color: green !important }

      ul.dropdown-menu { background: #2c2c2c !important;  border: 1px solid #555;}
      ul.dropdown-menu a { color: #999; }
      ul.dropdown-menu a:hover { color: #efefef; background: none; }
      ul.dropdown-menu .divider { background: #333; border-bottom: 1px solid #555; }
    }

    margin-top: 0px;
    background: none !important;
  }

  a#header-logo {
    font-size: 1.125em;
    font-family: $museo_slab_500;
    /*font-weight: bold;*/
    line-height: 1.3333em;
    /*padding-top: 7px;*/
    float:left;
    color: white;
    margin-right: 40px;


    &:hover {
      text-decoration: none;
    }
  }

  .endorsement {
    padding-left: 20px;
    p {
      font-size: 13px;
    }
    .endorsement-body {
      color: #efefef;
    }

    .attribution {
      padding-right: 60px;
      .author {
        font-weight: bold;
        font-size: 13px;
      }
      color: #ddd;
      font-size: 11px;
      text-align: right;
    }

    a {
      text-shadow: 2px 0px 2px #000;
      &:hover {
        text-decoration: none;
        text-shadow: 0px 0px 1px #555;
      }
    }
  }
}

.clearfix .caret {
  position: relative;
  top: 0.25em;
}

.pull-right .caret {
  position: relative;
  top: 3px;
}

// top right: user login, social buttons
#interaction
{
  float: right;
  text-align: right;
  color: #efefef;
  padding-right: 10px;
  font-size: 12px;

  .user-login{
    padding-bottom: 5px;
  }

  a {
    color: $nav_link_color;
    margin-left: 1px;
    white-space: nowrap;
    text-decoration:none;
  }
  a:hover {
    color: $nav_link_hover_color;
    background: $nav_bar_color;
    text-decoration:none;
  }

  .social {
    float: right;
    display:block;
    height: 30px;
  }
}

/*#bootstrap-nav {
 *margin-top: 0.2em;
*}
*
*.nav-collapse .pull-right li {
* margin-left: 10px;
*}*/

#bootstrap-nav .search-query {
  -moz-border-radius: 1px 1px !important;
  -webkit-border-radius: 1px 1px !important;
  -khtml-border-radius: 1px 1px !important;
  -o-border-radius: 1px 1px !important;
  border-radius: 1px 1px !important;
  border: 1px $header_bg_color solid;
  padding: 0 0 0 5px;
  width: 170px;

}
.search-query-icon {
  margin-right: 20px;
  width: 27px;
  height: 27px;
}

.navbar-inverse .navbar-search .search-query {
  background-color: #666666;
}


.navbar-inner .container .nav {
  margin: 0;
  font-size: 100%;
}

.navbar-inner .pull-right {
  font-size: 72%;
  padding-left: 0;
}

.nav-collapse .pull-right a {
  margin-left: 20px;
}

.noise .span12 {
  margin-left: 0;
}
