%p Your 80,000 Hours account is ready to use!
%p You should confirm your account by clicking the following link:
- conf_url = confirmation_url(@resource, :confirmation_token => @resource.confirmation_token)
%p= link_to 'Confirm my account', conf_url
%p If that didn't work, try copying and pasting the following into your browser:
%p
  = conf_url
