<div class="modal-body alert alert-error">
  <div class="modal-heading">
    <h4>Sorry!</h4>
  </div>
  You have to <a href="/join">sign up</a> or <a href="/accounts/sign_in">sign in</a> to vote!
</div>
<div class="modal-footer">
  <a class="btn" data-dismiss="modal">Ok</a>
</div>
