<div class="box">
If you've got any more questions, <%= link_to "contact us", "/contact-us" %>!
</div>

<div class="box">
  <ul id="faq_menu" class="magenta-bullets">
  	<li><a href="#1_01">
    What if I can't donate time or money now?
    </a></li>
  	<li><a href="#1_02">
    How do I decide which causes to support?
    </a></li>
  	<li><a href="#1_03">
    What do you mean by 10% of time?
    </a></li>
  	<li><a href="#1_04">
    Which sorts of careers enable you to do the most good?
    </a></li>
  </ul>
</div>

<div class="box">
<dl class="faq">
  <dt id="1_01">
   What if I can't donate time or money now?
  </dt>
  <dd>
  <p>
  The <%= org_name %> pledge is designed so that you can spend the early years of
  your career building up your capacity to do good later. For example, if you
  started a company, you wouldn't be able to give much money at first, but you'd
  be able to give 10% of your lifetime income once you'd got your company
  established. Similarly, a young person getting started in politics or
  campaigning won't have much influence at first, but will be able to do a lot of
  good over their whole career.
  </p>
  <a href="#content">back to top</a>
  </dd>

  <dt id="1_02">
  How do I decide which causes to support?
  </dt>
  <dd>
  <p>
  Have a look at our blog post [Link to Sasha's blog post], which goes into
  more detail about this.
  </p>
  <a href="#content">back to top</a>
  </dd>

  <dt id="1_03">
  What do you mean by 10% of time?
  </dt>
  <dd>
  <p>
  At least 10% of your time at work, so that would be 4 hours of a 40 hour
  week. However, for many researchers and influencers, there will not be a
  strict separation between the time they spend helping and the rest of their
  work.
  </p>
  <a href="#content">back to top</a>
  </dd>

  <dt id="1_04">
  Which sorts of careers enable you to do the most good?
  </dt>
  <dd>
  <p>
  See our <%= link_to "career research page", "/career-research" %>.
  </p>
  <a href="#content">back to top</a>
  </dd>

<div class="center large_margin">
<a class="button" href="/join">Back to Join page</a>
</div>
</div>
