.grid_12
  .box
    %p  
      We’ve been raising some controversy in the media by suggesting that
      becoming a philanthropic banker could help more people than many
      conventional ethical careers.
  
    %p
      We've been featured on 
      =link_to "the Today programme.", "http://80000hours.org/blog/7-william-crouch-of-80-000-hours-featured-on-the-today-programme-with-ian-hislop"
    %p
      See all our
      =link_to "press coverage.", "/press"

.grid_6
  .box
    %h3
      What are the arguments in favour of professional philanthropy over conventional ethical careers? 

    %ul
      %li
        See 
        = link_to "our article.", "/banker-vs-aid-worker/op-ed"
      %li
        See 
        =link_to "our video.", "http://vimeo.com/29954976"

.grid_6
  .box
    %h3
      What are the common objections to these arguments?

    %ul
      %li
        See 
        =link_to "our Q&A page.", "/banker-vs-aid-worker/q-and-a"

.clear

.grid_12
  .box
    %p
      Does this mean that professional philanthropy is the career that does the most
      good? Does this mean that you should pursue professional philanthropy? No!
      There are many high impact activities that do far more good than professional
      philanthropy. Your individual skills are also very important.

    %p
      For more information see:

    .center.large_margin
      %a{:class=>"button", :href=>'/career-research'}
        Career Resources
