<div class="box">
  <p>
We’ve been raising some controversy in the media by suggesting that becoming a philanthropic banker could help more people than many conventional ethical careers.
  </p>

  <p>
We been featured on <%= link_to "the Today programme", "http://eightythousand.org/blog#william-crouch-of-80,000-hours-featured-on-the-today-programme-with-ian-hislop" %>. See all our <%= link_to "press coverage", "/press" %>. 
  </p>

  <p>
What are the arguments in favour of professional philanthropy over conventional ethical careers? 
  </p>

<ul>
  <li>
  See <%= link_to "our article", "/op-ed" %>.
  </li>
  <li>
  See <%= link_to "our video", "http://vimeo.com/29954976" %>
  </li>
</ul>


<div class="inner-box">
  <h1>What are the common objections to these arguments?</h1>

<h2>1. You might help people with your donations, but don't many high earning careers also cause harm?</h2>

  <p>
You can usually pick a high-earning career that does little or no harm. Sometimes, you might also
decide that you can do so much good with your donations that it’s worth doing a job you don’t
fully believe in.
</p>

<p>
It’s true that some high-earning careers do a lot of harm – you should obviously avoid them where
possible. But there are a lot of high-earning careers that cause little or no harm. As a doctor,
accountant, manager, or entrepreneur you can make a valuable contribution as well as earning quite
a lot. Even professions that often seem harmful, like banking, don’t have to be. The biggest problem
in banking today is probably that bankers aren’t the sort of people who care about the impact of
their decisions on others. Arguably, the best way to fix the problem is for people who do care to get
into the industry.
</p>

<p>
One important thing to realise is that you do some harm in almost every career, ethical or otherwise.
If you become an aid worker in Africa you make it a little harder for a local to get a job. If you’re a
doctor your treatments that work on most people might hurt a few. Jobs that don’t do any harm at
all just don’t exist.
</p>

<p>
But when your job does a little harm the fact that you’re donating so much to good causes means
that your choice to be a professional philanthropist can be good overall. You can potentially save
more than ten thousand lives. That may be worthwhile even if your job does a little harm.
</p>

<p>
Moreover, if you weren’t doing that job then someone else would be. If there’s something about the
job itself that is unavoidably bad then they would be doing it too. So a large part of the small harm
would happen either way.
</p>

<h2>
2. Philanthropy is all very well, but it doesn't fix the underlying structural problems.</h2>

<p>
A career as a professional philanthropist is sometimes the best way to fix underlying structural
problems by donating to the organisations that campaign for your cause.
</p>

<p>
One of the exciting things about professional philanthropy is its versatility. You can use donations to
address almost any concern you have. If your goal is fixing structural problems, then you can donate
to organisations that campaign for reform. You can even start an organisation that campaigns for
something that no one else is pressing for! Your donations can fund several activists to do even more
good work than you would have done.
</p>

<p>
All campaigning organisations need a steady stream of income. By being a professional
philanthropist you may be able to do a lot to make the campaign a success.
</p>

<h3>
3. Doesn't becoming a high-earner signal support for systems which are causing problems in the first
place?
</h3>

<p>
By spreading the word about why you chose to become a professional philanthropist you can send an even stronger message.
</p>

<p>
You need to become involved in the system to become a high-earner, but it doesn’t show that you
support it. One thing you can do to show that you don’t support the system is to join a society like
80,000 Hours and tell all your friends and co-workers about it. That sends out a strong signal.
</p>

<p>
Moreover, the person who would have been in your shoes, in the high earning job, would provide
just as much support for the system, but without any positive signals about change.
</p>

<p>
Even if you don’t think that your philanthropy will send good signals, you might still think the good
you can do makes it worthwhile. [link to 1].
</p>

<h2>
4. What if everyone did this? Then we'd up with no aid workers!
</h2>

<p>
In practice, there’s no shortage of people who want to be aid workers. If there were, then we’d be
recommending aid work as a high-impact career.
</p>

<p>
What’s a high-impact career depends on what everyone else is doing. It’s important to fill the roles
that other people wouldn’t have filled otherwise. Right now, loads of people want to do aid work –
there just isn’t enough money to give them all jobs. But the world isn’t full of people who want to
be professional philanthropists. In fact, the highest earners typically donate a smaller proportion of
their incomes than others. If the situation was reversed, then being an aid worker would be a really
high-impact ethical career.
</p>

<h2>
5. I'm not sure I could go through with taking a high earning career. I'd burn out, or worse, I'd be
corrupted by the system and end up not giving away my money.
</h2>

<p>
One of the reasons the 80,000 Hours community exists is to help support people in that kind of
situation. But this can be a good reason not to be a professional philanthropist.
</p>

<p>
If you really think you’d burn out or get corrupted then you probably shouldn’t become a
professional philanthropist. A lot of people do enjoy high-earning careers. There are also quite a
few different high-earning careers that appeal to different sorts of people. Before you rule it out
completely, remember that there are a lot of jobs that can incorporate professional philanthropy –
it’s not all banking.
</p>

<p>
80,000 Hours is a community that is partly designed to help protect against the risks of burning
out. When a group of like-minded people all decide to go into professional philanthropy together
it’s easier to feel connected to a sense of purpose. We provide support for each other. By signing a
public pledge to lead a high-impact ethical career we also make it a lot more likely that we’ll follow
through with our promise and won’t get corrupted.
</p>

<h2>
6. I don't think I could get a high earning career. Is 80,000 Hours relevant to me?
</h2>

<p>
80,000 Hours is about having a high-impact ethical career and professional philanthropy is not the
only way to achieve that.
</p>

<p>
80,000 Hours is about a lot more than just professional philanthropy. Some of our members think
that campaigning is the best way to make a difference. Others are researchers. Others try to build
communities that share the principle of making a difference. There are a lot of ways to have a high-
impact ethical career and 80,000 Hours exists to help people explore them all.
</p>

<p>
Remember that there are a lot of different types of high-earning career. Even if something like
banking doesn’t appeal to you, loads of professions earn enough money that you can make a
big difference by donating a substantial portion. You might not have thought of many of them
– like being a plumber, aircraft pilot or a policeman. But even if you aren’t earning that much,
donating about 10% of your income can save dozens of lives a year with a surprisingly small effect
on your own life. That’s because just £300 [link to http://www.givingwhatwecan.org/resources/
recommended-charities.php] is enough to prevent a death due to TB. 30p is enough to prevent
someone from going blind due to parasitic infections. These heroic feats are within almost
everyone’s grasp.
</p>

<h2>
7. You talk a lot about giving to only the very best causes, but how do you know what these are?
</h2>

<p>
We can’t always know that we’re giving to the best causes, but we have to try. In some cases, we
can do a pretty good job.
</p>

<p>
Obviously you can’t know what the very best cause is. It’s very hard to compare what a human rights
organisation does with what a health intervention charity does. But within a type of intervention,
you can start to compare the options that are available to you in at least a rough kind of way. You
can estimate that some charities help several thousand times more people than others with the
same resources. Even if your comparison is off by a little bit, you still have a good reason to prefer
one to the other.
</p>

<p>
Once you look at a few different types of intervention you start to get a rough idea of which
sorts do more good than others. Early research suggests [link blog article on ‘best cause’] that
developing world health interventions are some of the best. But research in charity comparison is
still developing.
</p>

<p>
Some people worry that you can’t even make a comparison like that. They might think you
shouldn’t, since all the charities are trying to help people in their own way. But you only have a
limited amount to give. So you can’t help but choose between charities. It’s important to make those
choices in the way that, to the best of your knowledge, helps people the most.
</p>

<h2>
8. Professional philanthropy is all very well, but surely there are ways you could help even more
people?
</h2>

<p>
There are certainly better ways. Professional philanthropy is just one of many ways to make a
difference. Which one is best for you depends on where your strengths are.
</p>

<p>
Some people are so good at researching climate change that they shouldn’t even think about
wasting their unique talent in banking. Other people are so good at spreading an idea that they
should become professional campaigners. Maybe they can even convince loads of other people to
become professional philanthropists – mirroring the way that professional philanthropists can pay
people to be aid workers. There are many things that might be more worth-while than professional
philanthropy.
</p>

<p>
A high-impact ethical career depends a lot on who you are. But professional philanthropy is an
option. If you think you’d enjoy a high-earning career and be good at it, then you shouldn’t give up
on that career because you want to help people.
</p>

<p>
It's also important to remember that whatever career you pursue, whether high-earning or not, it is
easy to do even more good by donating part of your income. Some of our members in relatively low-
paying careers add to the good they do by donating 10% of their income to the charities that they
think are best.
</p>

<p>
To find out more, see our section on your career [link to ‘Career Resources’]
</p>

<p>
Or chat to us [link to ‘chat to us’ page] about your career.
</p>
</div>

<p>
Does this mean that professional philanthropy is the career that does the most
good? Does this mean that you should pursue professional philanthropy? No!
There are many high impact activities that do far more good than professional
philanthropy. Your individual skills are also very important.
</p>

<p>
For more information see:
</p>
<div class="center large_margin">
<a class="button" href="/career-resources">Career Resources</a>
</div>
</div>
