<% path = "#{Rails.root}/app/views/info/blog/" %>
<% Dir.foreach(path).reverse_each do |item| %>
  <% next if item == '.' or item == '..' %>
  <% # do work on real items %>
  <% blog_post = YAML.load_file(path+item) %>

  <% if blog_post["post"] %>
  <div class="box blog-entry">
    <h1><%= blog_post["title"] %></h1>
    <h2><%= blog_post["date"] %></h2>
    <%= raw(BlueCloth.new(blog_post["body"]).to_html) %>
    <div class="attribution"><%= raw(blog_post["author"]) %></div>
  </div>
  <% end %>
<% end %>
