<div class="box">
<h2 id="Banker">Banker</h2>
<p>
Bankers do a lot of different things, but the important thing is how much they earn. A fairly average banking income is enough that you could donate almost £5 million over the course of your career while still taking home twice the median salary.
</p>

<p>
That kind of money can do an amazing amount of good. According to the latest economic research, it costs about £300 to save a life by preventing TB. By donating to a TB charity you can save about 15,000 lives. And there are probably even better ways to <a href="/blog#the-best-causes">donate your money</a>.
</p>

<p>
We’ve argued that becoming a philanthropic banker can be more ethical than many conventional ethical careers. <a href="/doctor-vs-banker">Click here</a> to find out more.
</p>
</div>
 
<div class="box">
<h2 id="Doctor">Doctor</h2>
<p>
A doctor can make a difference in a lot of ways. As a GP or a surgeon you can help people directly every day. How much of a difference you make depends a lot on the nature of your specialty. If you focus on a specialty that is in high demand but that most doctors avoid then you can make a really big difference.
</p>

<p>
 If you go into medical research, you can help develop new ways to heal people and improve their lives. Inventing a new drug or procedure can save thousands, or even millions, of lives.
Doctors also earn enough that their donations can be really significant. After a few years of work, a doctor giving half their salary to charity still earns twice the median salary. They could donate about £1.5 million over their career. That could <a href="/blog#the-best-causes">save 5,000 lives</a>.
</p>
</div>
 
<div class="box">
<h2 id="Teacher">Teacher</h2>
<p>
Teachers’ salaries vary a lot based on their experience and role, but you could certainly save dozens of lives every year by <a href="/blog#the-best-causes">donating only 10%</a>. 
</p>

<p>
More importantly, as a teacher you have an unrivalled ability to inspire young minds. That doesn’t just mean teaching students how to do algebra or write essays. It means teaching students to be better citizens and to value others. It also means inspiring your students to set their goals high and try to make a difference. Even if you just inspire a couple of children every year you can have a huge impact.
</p>
</div>
 
<div class="box">
<h2 id="Campaigner">Campaigner</h2>
<p>
As a professional campaigner you’re unlikely to be able to donate too much to good causes. But you will be spending all of your time trying to share the ideas you care most about. Campaigners build communities and help spread idea.
</p>

<p>
Campaigners can be really high-impact because they can get a lot of people to help. By getting a message out to thousands of people, a campaigner can make a huge difference by making a little difference to a lot of lives.
</p>

<p>
Alternatively, you can be part of a targeted campaign that helps policy-makers understand an important issue. That can be a really effective way to make a big difference.
</p>
</div>
 
<div class="box">
<h2 id="TrainDriver">Train Driver</h2>
<p>
Many very normal jobs give you the power to save a lot of lives through your donations. A train driver earns an average salary of about £40,000. If you give only 10% you’ll still be earning almost twice the median income.
</p>

<p>
If you donate to the charities that help the most people you can save a life for as little as £300. That means that with a relatively small donation you can save <a href="/blog#the-best-causes">dozens of lives a year</a>. These heroic feats are within almost everyone’s grasp.
</p>

<p>
By inspiring others to do the same, you can do many fold more good again.
</p>
</div>
 
<div class="box">
<h2 id="Scientist">Scientist</h2>
<p>
Scientists often earn a pretty decent salary, and can save a few dozen lives a year with a <a href="/blog#the-best-causes">10% donation</a>.
But a successful scientist also has the potential to make a huge difference by researching topics likely to improve the many people’s lives. For example, Normal Borlaug’s research into drought-resistant strains of wheat saved millions of people from starvation.
Your research impact depends a lot on what your research topics are. Ideally you want to research something that can potentially help a lot of people but that is neglected by other researchers. Even better is when you are particularly talented in that field.
<!-- TODO [link to Carl’s researcher article]-->
</p>
</div>
