<div class="box">
  <p>
  We'll have lots of content up in the next few days. leave your email address to be notified of updates.
  </p>
  <p>
  <%= render :partial => 'shared/mailing_list', :locals => { :text => "Stay updated: ", :klass => "standard" } %>
  </p>
</div>
