<div class="box">
  <p>
  Whether you have a question about <%= org_name %>, or you'd like more
  information about our community, then we'd love to hear from you.  Email us
  at <a href="mailto:info@eightythousand.org">info@eightythousand.org</a>.
</p>
</div>
