<div class="box">
<p>
If you have questions, check out our <a href="/faq">FAQ</a>.
</p>

<p>
If that doesn't answer your question, send your questions to:
<div class="medium_email">
  <a href="mailto:info@80000hours.org">info@80000hours.org</a>
</div>
</p>

<p>
If you're interested in joining, contact:
<div class="medium_email">
  <a href="mailto:join@80000hours.org">join@80000hours.org</a>
</div>
</p>

<p>
If you’re having technical problems, contact:
<div class="medium_email">
  <a href="mailto:support@80000hours.org">support@80000hours.org</a>
</div>
</p>

<p>
If you're a business, and are interested in working with us, contact:
<div class="medium_email">
  <a href="mailto:corporate@80000hours.org">corporate@80000hours.org</a>
</div>
</p>

<p>
If you would like media info, see our <a href="/press">Media Centre page</a> and contact:
<div class="medium_email">
  <a href="mailto:press@80000hours.org">press@80000hours.org</a>
</div>
</p>
</div>
