<div class="box">
<p>
If you have questions, check out our <a href="/faq">FAQ</a>.
</p>

<p>
If that doesn't answer your question, send your questions to:
<div class="medium_email">
  <a href="mailto:info@eightythousand.org">info@eightythousand.org</a>
</div>
</p>

<p>
If you're interested in joining, contact:
<div class="medium_email">
  <a href="mailto:join@eightythousand.org">join@eightythousand.org</a>
</div>
</p>

<p>
If you’re having technical problems, contact:
<div class="medium_email">
  <a href="mailto:support@eightythousand.org">support@eightythousand.org</a>
</div>
</p>

<p>
If you're a business, and are interested in working with us, contact:
<div class="medium_email">
  <a href="mailto:corporate@eightythousand.org">corporate@eightythousand.org</a>
</div>
</p>

<p>
If you would like media info, see our <a href="/press">Media Centre page</a> and contact:
<div class="medium_email">
  <a href="mailto:press@eightythousand.org">press@eightythousand.org</a>
</div>
</p>
</div>
