<div class="box">

<p>
It's always a pleasure to hear from people who are interested in
<%= org_name %> so feel free to contact us at the address below and we'll put
you in touch with a current member.
</p>
<p>
Whether you have a question about <%= org_name %>, or you'd like more
information about our community, then we'd love to hear from you.
</p>

<div class="large_email center">
  <a href="mailto:info@eightythousand.org">info@eightythousand.org</a>
</div>
</div>
