<div class="box">
  <p>
  Whether you have a question about High Impact Careers, or you'd like more
  information about our community, then we'd love to hear from you.  Email us
  at <a href="mailto:info@highimpactcareers.org">info@highimpactcareers.org</a>.
</p>
</div>
