<div class="center">
<%= image_tag "ethical_career/doctor_vs_banker.png" %>
</div>

<div class="box">
<h2>Donating More</h2>
<p>
Doctors do amazing work, helping hundreds of people. But, because the banker
earns so much, by donating a proportion of her earnings a
<em>philanthropic</em> banker could pay for several doctors, each of whom does
the good work of one doctor. So she could help several times as many people.
</p>
</div>

<div class="box">
<h2>Donating Wisely</h2>
<p>
Some causes help others thousands of times more than other causes with the same
amount of resources. The banker can ensure that her money funds only the very
best causes. The doctor, however, can only work within her speciality, which is
unlikely to be among the most cost effective causes.
</p>
</div>

<div class="box">
<h2>Doing Something Different</h2>
<p>
If the doctor had pursued a different career, someone else would be in his
shoes, doing the same good work. Most of the lives saved by the doctor would
have been saved anyway. In contrast, if the banker had pursued a different
career, someone else would be doing her work, but they would have donated very
little. The lives saved by the philanthropic banker would not have been saved
anyway.
</p>
</div>

<div class="box">
<p>
If you want to maximise the degree to which you can help others, we believe
it's normally better to become a professional philanthropist than to work in a
conventional ethical career.  But we don't recommend that all of our members
pursue high earning careers in order to donate to charity. Careers in which one
attains influence, for example in advocacy and politics, or in which one does
high value research, have the potential to help even more people.
</p>

<p>
If you want to read about the amazing things you can do with your time and your
money, see the section <a href="/what-you-can-do">'What you can do'</a>.
</p>

<p>
If you have questions about our arguments, see the <a href="/faq">Frequently Asked Questions</a> page.
</p>
</div>

<div class="center large_margin">
  <a class="button" href="/faq">Questions?</a>
</div>

