
<div class="box">
				<ul id="faq_menu" class="magenta-bullets">
					<li><a href="#1_01">
            I want to do the most to help other people, but I don’t think that
            professional philanthropy is the best way to go about it.  Can I still
            join?
          </a>
</li>

					<li><a href="#1_02">
            Why do you think that some causes are so much better than others?
          </a>
</li>

					<li><a href="#1_03">
            Are you only concerned with global poverty?  What about other causes?
          </a>
</li>

					<li><a href="#1_04">
            What if I’m not from Oxford?  Can I still join?
          </a>
</li>

					<li><a href="#1_05">
            What if I don’t think I can get a lucrative career?
          </a>
</li>

					<li><a href="#1_06">
            Won’t I burn out if I become a professional philanthropist?
          </a>
</li>

					<li><a href="#1_07">
            Won’t I get corrupted if I become a professional philanthropist?
          </a>
</li>

					<li><a href="#1_08">
            Shouldn’t we be trying to change the system, instead of working within it?  So shouldn’t we become activists instead?
          </a>
</li>

					<li><a href="#1_09">
            I don’t think that doing good can be quantified.
          </a>
</li>

					<li><a href="#1_10">
            Don’t some lucrative careers cause harm?
          </a>
</li>

					<li><a href="#1_11">
            If everyone became a professional philanthropist, wouldn’t that mean that there were no charity workers to fund?
          </a>
</li>
					<li><a href="#1_12">
My question hasn't been answered!
          </a>
</li>
				</ul>
</div>
<div class="box"><dl class="faq">


  <dt id="1_01">
    I want to do the most to help other people, but I don’t think that
    professional philanthropy is the best way to go about it.  Can I still
    join?
  </dt>
  <dd>
    <p>
    Though we often introduce the High Impact Careers concept with the example of
    a professional philanthropist, we acknowledge that there are a variety of
    plausible career paths through which one can have a huge impact.  In
    particular, it’s very plausible that certain careers which give one influence
    and certain research careers can also be extremely high impact.
    For many people, they can be a better way to help other people than
    professional philanthropy.
    </p>
    <p>
    For some people, in fact, working in the charity sector really is the best
    thing they can do.  This can be true, for example, if you have a rare
    particular skill that you can add to a very cost-effective charity.  We warmly
    welcome such people into the High Impact community.
    </p>

<a href="#page_container">back to top</a>
</dd>



<dt id="1_02">
Why do you think that some causes are so much better than others?
</dt>

<dd>
<p>
The organisation <a href="http://www.givingwhatwecan.org/">Giving What We Can</a> has drawn on the latest cost-effectiveness research from health and development economics in order to work out which charities do the most to help other people with every pound or dollar they receive.  The results are remarkable: they have shown that our ability to help others depends dramatically on the way we choose to help them. 
</p>
<p>
For example, by funding cholera immunization in order to prevent diarrheal disease, one can give someone an additional year of healthy life for $2,945. This is certainly worth doing. But there is an opportunity cost. By funding hygiene education—a cheap but highly effective program—one can give almost 1000 people the same health benefit, again through prevention of diarrheal disease, for the same amount of money. By choosing the right cause, we can achieve a truly stunning bang for the buck: we can do hundreds of times as much good as we might otherwise have done.  
</p>

<p>
Moreover, this variability in effectiveness is merely within interventions in the developing world; if one compares causes in the developed world and developing world, the discrepancy can be even greater.  
</p>
<p>
If one wants to help others, it’s extremely important that one chooses the right way to do it.
</p>
<p>
To read more about Giving What We Can’s research, please see: <a href="http://www.givingwhatwecan.org/resources/recommended-charities.php">givingwhatwecan.org/recommended-charities.php</a>
</p>
<a href="#page_container">back to top</a>
</dd>




<dt id="1_03">
Are you only concerned with global poverty?  What about other causes?
</dt>

<dd>
<p>
Though we often use global poverty as an example, High Impact Careers does not limit itself to any one particular cause or type of cause.  There are many plausibly high impact causes, and there is room for reasonable disagreement about which it is most important to pursue.  
</p>
<p>
A non-exhaustive list of such causes includes those tackling the problems of: global poverty; climate change; animal suffering; and global catastrophic risks, such as the proliferation of nuclear and biological weapons.
</p>
<a href="#page_container">back to top</a>
</dd>




<dt id="1_04">
What if I’m not from Oxford?  Can I still join?
</dt>

<dd>
<p>
High Impact Careers is currently an Oxford based organisation, but members are welcome from anywhere in the world.
</p>

<p>
We already have members of American, Australian and Swedish nationality.
</p>
<a href="#page_container">back to top</a>
</dd>




<dt id="1_05">
What if I don’t think I can get a lucrative career?
</dt>

<dd>
<p>High Impact Careers isn’t exclusive to future millionaires.  No matter what your career prospects are, our arguments are relevant to you.</p>

<p>If you decide to pursue one of the most high impact career that are available to you, then we warmly welcome you into the High Impact community.</p>
<a href="#page_container">back to top</a>
</dd>




<dt id="1_06">
Won’t I burn out if I become a professional philanthropist?
</dt>

<dd>
<p>
Risk of burnout, whether through overwork or through not being happy in your work, is certainly an important consideration when considering which career to pursue.  If you’re thinking about pursuing a high impact career, you should think carefully about the risks of failing to follow through in your aims, and normally you should choose a career that you think you will be pretty happy in.
</p>

<p>
Moreover, there are ways to mitigate the burnout risk.  By joining a community of like-minded people, you may increase your sense of purpose in life, and so find your work more fulfilling.  Another option is to try out a certain career path for a couple of years; and if it’s too stressful or demanding, then one can pursue something else.
</p>
<a href="#page_container">back to top</a>
</dd>



<dt id="1_07">
Won’t I get corrupted if I become a professional philanthropist?
</dt>

<dd>
<p>
Risk of becoming corrupted and losing one’s ideals is also an important consideration when considering which career to pursue.  Similar considerations that were raised in relation to burning out also apply to the risk of becoming corrupted.
</p>
<a href="#page_container">back to top</a>
</dd>




<dt id="1_08">
Shouldn’t we be trying to change the system, instead of working within it?  So shouldn’t we become activists instead?
</dt>
<dd>
<p>
Many of our members think systemic change is incredibly important and would greatly prefer a world with a far more equal income distribution. However, it doesn’t follow that we should all become full-time activists. First, it may be even better to invest time in other causes. It's up for debate whether time spent advocating for systemic change is more effective than saving thousands of lives with charitable donations. Second, even if you believe political campaigning for systemic change is the most important cause, it may be better to pursue a lucrative career and use the proceeds to pay for several activists to dedicate themselves to campaigning on your behalf. This is a lively topic of debate in our community. </p>


<a href="#page_container">back to top</a>
</dd>




<dt id="1_09">
I don’t think that doing good can be quantified.
</dt>

<dd>
<p>
It’s certainly true that it’s extremely difficult to quantify how much one helps others in one’s actions.  But that doesn’t show it’s impossible.
</p>

<p>
One way of quantifying benefit is by using a <a href="http://en.wikipedia.org/wiki/Quality-adjusted_life_year">Quality-Adjusted Life Year</a> (QALY).  This is a metric that quantifies health benefit by taking survey data from the potential beneficiaries of a particular health intervention.  This data measures the preferences that people have between different diseases and disabilities.  It is the metric used by advisors to developing world governments, so that they can spend their scarce health resources in a way that benefits their people as much as possible.  It currently is the gold-standard metric within health economics for quantifying health benefit.
</p>
<a href="#page_container">back to top</a>
</dd>




<dt id="1_10">
Don’t some lucrative careers cause harm?
</dt>

<dd>
<p>
It’s certainly true that some lucrative careers cause harm.   We wouldn’t recommend that someone becomes a hit man or a drug dealer in order to donate the profits to good causes!
</p>
<p>
Importantly, however, not all lucrative careers cause harm.  There are normally a wide variety of lucrative careers open to you, and you are encouraged to pursue a career that you feel ethically comfortable with.
</p>
<a href="#page_container">back to top</a>
</dd>



<dt id="1_11">
If everyone became a professional philanthropist, wouldn’t that mean that there were no charity workers to fund?
</dt>
<dd>
<p>
This is very true!  If we were getting to the point  where a large proportion of people were becoming professional philanthropists, then we would alter our recommendations about which career one ought to pursue. 
</p>

<p>
If only we were that persuasive!  Unfortunately, in the real world, most people aren’t intending to become professional philanthropists.  In general, graduates are far more willing to help a certain cause by working or volunteering in aid of that cause, than by donating money to that cause.  That’s why there’s currently such high ethical leverage to be gained by becoming a professional philanthropist, or by pursuing other high impact careers.
</p>
<a href="#page_container">back to top</a>
</dd>

<dt id="1_12">
My question hasn't been answered!
</dt>
<dd>
<p>
Chat with one of us by emailing <a href="mailto:info@highimpactcareers.org">info@highimpactcareers.org</a>
</p>
<p>
We're happy to answer any questions!
</p>
<a href="#page_container">back to top</a>
</dd>





</dl>


</div>
