<div class="box">
  <p>We have answers to questions in three areas:</p>
  
  <div class="box">
  <h1>Joining</h1>
  <div class="large_margin">
    <a class="button" href="/join/questions">Questions about joining <%= org_name%>?</a>
  </div>
  </div>


  <div class="box">
  <h1>Professional Philanthropy</h1>
  <div class="large_margin">
    <a class="button" href="/banker-vs-aid-worker/q-and-a">Questions about professional philanthrophy?</a>
  </div>
  </div>


  <div class="box">
  <h1>Miscellaneous</h1>
  <h2>What if I’m not from Oxford? Can I still join?</h2>

  <p>
  <%= org_name %> was founded in Oxford and currently holds the majority of its
  events here, but members are welcome from anywhere in the world.
  </p>

  <p>
  We already have members living in America, Australia, Brazil, and Sweden.
  </p>
  </div>

  <div class="box">
  <h1>My question hasn’t been answered</h1>

  <p>
  If you’d like to talk about joining or to talk about your career, why not
  <%= link_to "chat to one of our members", "/contact-us" %>?
  </p>
  </div>
</div>
