<div class="box">
  <div class="center">
  <h1>FIND OUT MORE...</h1>
  </div>
  <div class="center bold">
    <p>You might not have thought about it before, but you can benefit thousands of people through your choice of career.</p>
  </div>

  <div class="center bold">
    This is an exciting opportunity to make a great difference! 
  </div>

  <br/>

  <p><%= org_name %> is a growing community of people who make the most of the time we spend on our careers.</p>

  <p>Our members get access to Oxford University research on career choice, and to a network of like-minded people who want to make a difference.</p>

<p>Becoming a member only takes two minutes and these are the benefits:</p>
  <div class="inner-box">
  <p>
  <span class="magenta">✔</span> <span class="bold">ACCESS</span> to exciting new research and in-depth information on career choice
  </p>
  <p>
  <span class="magenta">✔</span> <span class="bold">SUPPORT</span> from a community of people who are making a real difference to the world
  </p>
  <p>
  <span class="magenta">✔</span> <span class="bold">HELP</span> getting into a high impact career
  </p>
  <p>
  <span class="magenta">✔</span> <span class="bold">INVITATIONS</span> to our events
  </p>
  <p>
  <span class="magenta">✔</span> <span class="bold">BENEFIT</span> others while getting on with your career
  </p>
  </div>

  <div class="center bold">
  <p>Why not get started now?</p>
  </div>

  <div class="center">
  <p>
  Take a look at our research on ethical career choices.
  <br/>
  <a class="button" href="/career-research">Career Resources</a>
  </p>

  <p>
  Exchange and discuss your ideas with one of our members. 
  <br/>
  <a class="button" href="/contact-us">Contact Us</a>
  </p>

  <p>
  Become part of our exciting network.
  <br/>
  <a class="button" href="/join">Join</a>
  </p>
  </div>
</div>
