.box
  .center
    %h1
      FIND OUT MORE...
  .center.bold
    %p
      You might not have thought about it before, but you can benefit thousands
      of people through your choice of career.

  .center.bold
    %p
      This is an exciting opportunity to make a great difference! 

  %br

  %p
    = org_name 
    is a growing community of people who make the most of the time we spend on
    our careers.

  %p
    Our members get access to Oxford University research on career choice, and
    to a network of like-minded people who want to make a difference.

  %p
    Becoming a member only takes two minutes and these are the benefits:

  .grid_8.prefix_2
    .box
      %p
        %span{:class=>"magenta"}✔
        %span{:class=>"bold"}ACCESS
        to exciting new research and in-depth information on career choice

      %p
        %span{:class=>"magenta"}✔
        %span{:class=>"bold"}SUPPORT
        from a community of people who are making a real difference to the world

      %p
        %span{:class=>"magenta"}✔
        %span{:class=>"bold"}HELP
        getting into a high impact career

      %p
        %span{:class=>"magenta"}✔
        %span{:class=>"bold"}INVITATIONS
        to our events

      %p
        %span{:class=>"magenta"}✔
        %span{:class=>"bold"}BENEFIT
        others while getting on with your career
  .clear

%div
  %br
  .center
    %h1
      Why not get started now?
  .grid_4
    .box.height_150
      Take a look at our research on ethical career choices.
      .center
        <a class="button" href="/career-research">Career Resources</a>
  
  .grid_4
    .box.height_150
      Exchange and discuss your ideas with one of our members. 
      .center
        <a class="button" href="/contact-us">Contact Us</a>
  
  .grid_4
    .box.height_150
      Become part of our exciting network.
      <br/>
      <br/>
      .center
        <a class="button" href="/join">Join</a>
