<div class="box">
  <%= render :partial => 'shared/mailing_list', :locals => { :text => "Sign-up for updates", :klass => "get-involved" } %>
</div>

<div class="box">
<p>Ask us questions: <a href="mailto:info@eightythousand.org">info@eightythousand.org</a>
</p>
</div>

<div class="box">
<p><a href="/events"><span class="box-span"></span>Attend one of our events</a>
</p>
</div>

<div class="box">
<p><a href="/the-pledge"><span class="box-span"></span>Join our community</a>
</p>
</div>

<div class="box">
<p><a href="/get-involved/volunteer"><span class="box-span"></span>Volunteer for us</a>
</p>
</div>
