
<div class="box">
<div id="signup_form">
<form action="http://highimpactcareers.us2.list-manage2.com/subscribe/post?u=aba12f58bbe8075560abdc5b7&amp;id=43bc1ae55c" method="post" id="mc-embedded-subscribe-form" class="validate new_mailing_list_email get_involved">
        <span class="text">Join our mailing list: </span>
	<input type="email" name="EMAIL" class="defaultText email" title="email@address.com" id="mce-EMAIL" />
	<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="submit-button" />
</form>
</div>
</div>

<div class="box">
<p>Ask us questions: <a href="mailto:info@highimpactcareers.org">info@highimpactcareers.org</a>
</p>
</div>

<div class="box">
<p><a href="/events"><span class="box-span"></span>Attend one of our events</a>
</p>
</div>

<div class="box">
<p><a href="/get-involved/join"><span class="box-span"></span>Join our community</a>
</p>
</div>

