<div class="box">
<h1><%= @title %></h1>
<%= raw( BlueCloth.new("
You can make a colossal positive impact on lots of people’s lives with your
donations. If you have a job and you are serious about making the world better,
then you should think hard about pledging a portion of your income to charity.
Donating large amounts to cost effective charities saves thousands of lives.

##Why do it?
Pete Singer puts forward the [argument](http://www.youtube.com/watch?v=onsIdBanynY) that we’d feel obliged to save a drowning child,
even if it meant ruining a pair of shoes. Is there any important difference between this situation and
your opportunity to save lives by giving to charity [[ref](http://www.thelifeyoucansave.com/)]?

50p would provide a year’s medicine against a range of debilitating and life threatening diseases,
if you gave it to [Schistosomiasis Control Initiative](http://www3.imperial.ac.uk/schisto) for
example
[median UK income is [£21528p.a](http://www.ifs.org.uk/comms/comm118.pdf), $100 can [save 1 life](http://www.givingwhatwecan.org/resources/neglected-tropical-diseases.php)]. So you can save lives for much less than the cost of a nice pair of shoes.

If you earn the UKs median salary for 40 years and give 10% of it to the most cost effective charities,
you can save 1347 lives[3]. That’s a life every 10 or 11 days. If you had a starting salary of £20k and
got up to £100k by the end of a 40 year career, giving 30% to the best causes, you’d be getting close
to saving someone’s life every day you work. How much of your income do you need for a happy
life? What should you do with the rest of it?

##The best ways to give

Picking the right charities is really important. Research shows that some charities are 10,000 times
more effective than others, even within health programmes working in developing countries[[ref](http://www.givingwhatwecan.org/resources/recommended-charities.php#SCI,
)].

There’s lots of research available into which charities are make the biggest impact.

[GivingWhatWeCan.org](http://www.givingwhatwecan.org/) compares charities according the increase in 
[years of healthy life](http://en.wikipedia.org/wiki/Disability-adjusted_life_year) they bring about with each pound.
GWWC’s [page on recommended charities](http://www.givingwhatwecan.org/resources/recommended- charities.php)
presents the conclusions of this. [SCI](http://www3.imperial.ac.uk/schisto) and
[Deworm the World](http://www.dewormtheworld.org/) come out on top.

[GiveWell.org](http://www.givewell.org/) uses a range of criteria including transparency and self-assessment, as well as high
impact. Of the international charities they have looked at so far, only [VillageReach](http://villagereach.org/) has received their top rating.


The research programmes of both societies are ongoing and by no means complete. If you want to
find out more about their methods, try [here](http://www.givingwhatwecan.org/resources/charity-comparisons.php)
and [here](http://www.givewell.org/what-do-our-ratings-mean).

It might well be the case that you can do even more good by funding other causes, like research or
campaigns. We’ll be looking into this in the coming months.

Hopefully you are convinced that you can make a huge difference by increasing your donations. But
even so, it can be hard to get started. So let’s finish off with a few ways in which…

##...Giving is Easy!

  * Remember, giving makes you happy. [Peer-reviewed research](http://news.sciencemag.org/sciencenow/2008/03/20-02.html)
  backs this up. It rarely seems enticing to give away money that is yours, but
  once you’re started, chances are you’ll like it a lot.

  * Don’t become numb to the statistics – remember you are helping real people.
  You are stopping families being torn apart by disease and you are
  contributing to a better future for lots of people.

  * [Many of us are lucky enough](http://www.guardian.co.uk/money/blog/2009/nov/19/charity-third-salary-toby-ord)
  to be able to donate a large proportion of our income and still have all the things we
  really value.

  * Give early - If you’re giving a portion of your salary from early on in
  your career it’ll probably be easier than giving up income you’re used to
  having.

  * On a similar principle, you could bump up the percentage you give each time
  you move to a better paid job – so the global poor share in your pay rise
  too.

").to_html ) %>
</div>





