<div class="box">
  <h2>Technical problems?</h2>
  <p>If you're having technical difficulties with the website such as broken links or login issues, please contact: <a href="mailto:support@eightythousand.org">support@eightythousand.org</a>.</p>

  <h2>Interested in joining?</h2>
  <p>If you're interested in joining, and your questions haven't been answered, please contact <a href="mailto:info@eightythousand.org">info@eightythousand.org</a>.</p>
  <h2>Contact us?</h2>
  <p>If you're interested in writing a story about us, or want to interview one of our members, please visit the <a href="/press">Press page</a>.</p>
</div>
