<div class="box full-width">
  <div class="main_points">
    <div class="video_iframe">
      <iframe src="http://player.vimeo.com/video/29954976?byline=0&amp;portrait=0" width="380" height="213" frameborder="0"></iframe>
    </div>

    <div class="point">You're looking for a job.</div>
    <div class="point"><span class="bold">You want to make a difference.</span></div>
    <div class="point">We are here to help.</div>
    <div class="point">We’re rethinking which careers help the most people…</div>
    <div class="point">...and it doesn't mean working in the charity sector...</div>
    <div class="point">...or reducing your earning potential.</div>
  </div>

  <div id="signup_form" class="center">
    <form action="http://highimpactcareers.us2.list-manage2.com/subscribe/post?u=aba12f58bbe8075560abdc5b7&amp;id=43bc1ae55c" method="post" id="mc-embedded-subscribe-form" class="validate new_mailing_list_email front_page">
      <span class="text">Enter your email for more information:</span>
      <input type="email" name="EMAIL" class="defaultText email" title="email@address.com" id="mce-EMAIL" />
      <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="submit-button" />
    </form>
  </div>
</div>

<div class="box-container height-400">
  <div class="box third-width height-300 left-box">
    <h2 class="center">Ethical Career?</h2>
    Could a career as a banker help more people than a doctor?
    <%= image_tag "front_page/doctor_vs_banker.png", :class => "fp-box" %>
    <a href="/ethical-career"><span class="box-span"></span>
    </a>
    <a class="button more-button" href="/ethical-career">More...</a>
  </div>

  <div class="box third-width height-300 middle-box">
    <h2 class="center">What can you do?</h2>
    You can save <span class="bold">thousands of lives</span> over your career.
    <%= image_tag "front_page/stick_men.png", :class => "fp-box" %>
    <a href="/what-you-can-do"><span class="box-span"></span>
    </a>
    <a class="button more-button" href="/what-you-can-do">More...</a>
  </div>

  <div class="box third-width height-300 right-box">
    <h2 class="center">What do we do?</h2>
    We'll help you to get a <span class="bold">high impact career</span>.
    <%= image_tag "front_page/profile_pictures.png", :class => "fp-box" %>
    <a href="/what-we-do"><span class="box-span"></span>
    </a>
    <a class="button more-button" href="/what-we-do">More...</a>
  </div>
</div>

