<div class="box-half left-box">
  <div class="fp-text">
  <h2>Current debate:</h2>
  <p>Can a banker do more good than an aid worker?</p>
  </div>
  <div class="video_iframe">
    <iframe src="http://player.vimeo.com/video/29954976?byline=0&amp;portrait=0" width="415" height="233" frameborder="0"></iframe>
  </div>
  <%= button_link 'Questions?', '/faq' %>
</div>


<div class="box-half right-box">
  <div class="fp-text">
    Eighty thousand hours is the average amount of time each of us will spend
    working over the course of our lives. That's a big opportunity! If you make the
    most of this time, you'll benefit not only yourself but thousands of others,
    too. We can help you do this. Explore our site for exciting new ideas on
    ethical career choices and join our growing community of people who make a real
    difference.
  </div>
  <div class="break"></div>
  <div class="center">
    <% @members.each do |m| %>
      <% if m.avatar && m.user %>
        <%= link_to image_tag(m.avatar.url(:small), :class=>"fp-profile-image"),
                    "/members/#{m.slug}"
        %>
      <% end %>
    <% end %>
  </div>
</div>
