<div class="box">
<h1><%= @title %></h1>
<%= raw( BlueCloth.new("
You, personally, can do an enormous amount of good. You might be lobbying for political change or
saving thousands of lives through donations to vaccinations programs.

**But by inspiring others, you can do much, much more**

Let’s say you sit down for coffee one day with someone you know, and you share your discoveries
about high-impact ethical careers. They get so excited by the idea that they decide to donate a large
part of their income to charity. In the course of one day, you’ve done as much good as you will do by
yourself in your whole life – you’ve just doubled your impact!

Your ability to share powerful ideas is your most effective way to act on them.

Modern technology makes it really easy for anyone to share ideas with their friends and
acquaintances. By using social networks, you have the power to let hundreds of people know about
important issues almost instantly.

And when you take into account the number of people you could reach through your career – for
example, as a teacher, or a journalist – the possible impact is enormous.

##Things you could do:

* Talk to the people you know By inspiring someone to, for instance, start donating some of their income, you can multiply your impact many times
* Take up an career suited to sharing ideas Some careers, like Journalism and [Teaching](/career-profiles#Teacher), make you better placed communicate with lots of people
* [Volunteer for us](/get-involved/volunteer)
").to_html ) %>
</div>
