<div class="box">
<p>
Our members promise to donate at least 10% (and often much more) of their
working time or money to the causes which they believe are the highest impact -
whether in research, campaigning or professional philanthropy. They also
support each other in rationally pursuing high impact careers. To enquire about
becoming a member, please contact:</p>
<div class="center large_email">join@highimpactcareers.org</div>
</div>
