<div class="box">
<p>
What career would you say does the most good for the world? Being a doctor, or an aid worker? If
you’re optimistic, you might even say being a politician. You probably wouldn’t say working in the
City. But it turns out that there’s a strong case for becoming a professional philanthropist – someone
who deliberately takes a high-earning job to donate large amounts of money to the most important
causes.
</p>

<p>
Everyone knows that when you go into a high-earning career you can earn absurdly large amounts of
money. An average banker might earn about £6 million over a 30 year career.
</p>

<p>
When we see that number we get just as angry about bankers’ bonuses as anyone else, but we also
see an opportunity. Say you decided to donate about half of that. You’d still be immensely well-off.
But you would also be giving a lot: enough to employ several doctors in the developing world, or
even to set up a charity to do almost anything you like!
</p>

<p>
By funding several people to be aid workers a banker could help people more than an aid worker
could.
</p>

<p>
Of course, most aid workers help people more than most bankers – but that’s exactly why you
should become a banker! If you become a banker then the aid worker who fills your spot will still
do quite a lot of good. But if you become an aid worker then the banker who fills your spot will
probably do absolutely no good at all.
</p>

<p>
Being a professional philanthropist also makes you a lot more flexible. Say I’ve spent ten years
devoting my life to climate change research. But now, after all that time, I decide that my time
would actually be better spent delivering vaccines in Africa. My skills in climate change research
don’t help me in my new role at all. If I were a professional philanthropist, I could just change the
organisation I donate to.
</p>

<p>
So what’s the catch? Well, one worry people have is that as a banker they’d actively be doing harm
in my work. They don’t want to do that, even if though they could help more people with their
donations than they harm.
</p>

<p>
The banking system as a whole has done some terrible things. But by becoming a banker, you don’t
necessarily become responsible for those things. Arguably, the only reason that bankers as a whole
have done bad things is because the people who were bankers cared too much about themselves.
By encouraging people who care about their impact on others to become bankers, we help heal a
broken system.
</p>

<p>
It’s also not true that your becoming a banker signals your support for a system that hurts a lot
of people. By making a public choice to give most of your income to charity you send a powerful
message that you reject the culture of greed. That message might encourage people to follow your
lead.
</p>

<p>
Other people are concerned that they couldn’t handle a career in banking. They wouldn’t want
to spend their lives working on something they didn’t care about. Even worse, they might end up
getting corrupted by the system and not caring about the things they went into banking to help.
</p>

<p>
We think that having an organisation like 80,000 Hours helps deal with these serious concerns. By
having a community of like-minded people we help each other remember the value of what we’re
doing. We build a network to support each other. And by making a public pledge to have a high-
impact ethical career we help protect against the risk of getting corrupted.
</p>

<p>
Professional philanthropy is definitely worth thinking about. It’s a little like being Robin Hood, but
you’re earning the money instead of stealing it. Are there any careers that help even more people
than professional philanthropy? Of course there are. Partly, it depends on what you’re good at. If
you’re interested in which careers seem to be best for different sorts of people, have a look at our
pages on <%= link_to "careers", "/career-research" %>.
</p>

<p>
There’s one principle that all these careers have in common, and we hope you’ll agree that it’s pretty
important. Our aim isn’t just to make a difference. We want to make the most difference.
</p>
