<div class="box">
Orbis is on the lookout for exceptional non-final year students from any academic background. Do you have a record of high achievements? Do you have the intellectual courage to think and act independently? If you think you can manage a $1bn virtual portfolio for 12 months to beat the market, then this is your chance to do so.
</div>

<div class="box">
<h2>Structure</h2>
Successful applicants will work independently and in a small team of driven students to assemble and manage an individual and group portfolio of stocks, run on Orbis’ portfolio management system, aiming to outperform the global index.
</div>

<div class="box">
<h2>Training</h2>
Orbis will provide a training session on how to analyse stocks prior to the portfolios' launch and additional training sessions throughout the term of the portfolio.
<br />
Successful stock pickers:
<br />
•Will share in a prize pool of up to £10,000 depending on your performance.
<br />
•May be invited to interview for internships or jobs at Orbis.
</div>

<div class="box">
<h2>Who Can Apply?</h2>
Any non-finalist may apply, i.e. students who will be enrolled at university throughout the calendar year 2012. There are no academic background requirements and previous participants have ranged from first years to doctorates, but successful applicants must be able and keen to dedicate time to independent research.
</div>

<div class="box">
<h2>Sound interesting?</h2>
<p>
You can learn more about the challenge at <a href="http://www.orbisstockpickingchallenge.com/">www.orbisstockpickingchallenge.com</a>
</p>
<p>
To apply, please submit a CV and cover letter explaining your interest in the competition and stock picking to <a href="mailto:ospc@orbis.co.uk">ospc@orbis.co.uk</a> by <span class="bold">30th October</span>.&#160;
Please include ‘OSPC application’ and your university in the subject line.
</p>
<p>
Successful applicants will be invited to our first OSPC training session, in central London,&#160; on 16th November (6pm).
</p>
</div>
