<div class="box">
  <h1>Media Room</h1>
  <h2>'High Impact Ethical Careers'</h2>
  <p><%= org_name %> is an organisation which supports and guides people who are pursuing careers which will allow them to do the most good in the world.
  </p>
  <ul>
    <li>We think it might be better to become a banker than a charity worker, as a highly paid banker can pay for several charity workers.</li>
    <li>We're helping members pursue the highest impact ethical careers.</li>
    <li>Following a high impact career can allow you to save thousands of lives.</li>
    <li>Based on research by Oxford University ethicist Will Crouch, </li>
  </ul>
  <section>
  <h2>Contact Us</h2>
    <div class="leftcolumn vcard">
      <span class="fn">Tom Rowlands</span>
      <span class="role green">Press Contact</span>
      <span class="tel">+44 1865 589 180</span>
      <a class="email" href="mailto:press@eightythousand.org">press@eightythousand.org</a>
      <span class="street-address">Oxford Uehiro Centre for Practical Ethics<br />
      Suite 8, Littlegate House<br />
      St Ebbes Street<br />
      Oxford<br />
      OX1 1PT</span>
    </div>
    <div class="rightcolumn vcard">
      <span class="fn">Someone Else</span>
      <span class="role green">Whatevs</span>
      <span class="tel">+44 1865 589 180</span>
      <a class="email" href="mailto:press@eightythousand.org">press@eightythousand.org</a>
      <span class="street-address">43 Drury Lane</span>, <span class="locality">Covent Garden, London</span>, <span class="postal-code">WC2B 5RT</span>
    </div>
  </section>
  <p>
    Whether you have a question about <%= org_name %>, or you'd like more
    information about our community, then we'd love to hear from you.  Email us
    at <a href="mailto:info@eightythousand.org">info@eightythousand.org</a>.
    <%= button_link 'Press Release', '/press-release' %>
  </p>
</div>
