<div class="box">
  <div class="center"><h1>Show your support for <%= org_name %></h1></div>
  <div class="fb-like-box-large">
  <div class="fb-like-box" data-href="https://www.facebook.com/pages/80000-Hours/196210360460710" data-width="292" data-show-faces="true" data-stream="false" data-header="true"></div>
  </div>
</div>
