<div class="box">
<p>
Our members promise to donate at least 10% (and often much more) of their
working time or money to the causes which they believe are the highest impact -
whether in research, campaigning or professional philanthropy. They also
support each other in rationally pursuing high impact careers.
</p>
<p>
We ask that all members sign the following pledge to demonstrate their
commitment to leading a high impact life:
</p>
<div class="inner-box">
  <p><%= render :partial => 'shared/pledge' %></p>
</div>

<div class="center large_margin">
<a class="button" href="/application-faq">Questions?</a>
<a class="button" href="/members/new">Continue...</a>
</div>
