<div class="box">
<h2>Volunteer for us!</h2>
<p>High Impact Careers is growing rapidly – we’re preparing to take Oxford by storm with our official launch week next term and we’ll soon be capturing the nation’s interest with our press launch. Our team has doubled in size in the last few weeks and we’d like you to join us – have a look at the available roles below, we're sure there's something that could interest you.<br />If you have any questions or would like to volunteer for one of these roles, email <a href="mailto:richard@highimpactcareers.org&gt;richard@highimpactcareers.org&lt;/a&gt;&lt;/p&gt;
&lt;h2&gt;Events&lt;/h2&gt;
&lt;ul&gt;&lt;li&gt;&lt;a href=">Launch Event Manager</a>

</p>
<li><a href="#events-assistant-launch">Assistant Launch Event Manager</a>
</li>
<li><a href="#events-launch-marketing">Launch Event Marketing Manager</a>
</li>
<li><a href="#events-assistant-events">Assistant Events Officer</a>
</li>
<li><a href="#events-social">Social Secretary</a>
</li>

<h2>Community</h2>
<ul><li><a href="#community-membership">Membership Manager</a>
</li>
<li><a href="#community-meeters">Meeter</a>
</li>
</ul>
<h2>Communications</h2>
<ul><li><a href="#communications-officer">Communications Officer</a>
</li>
<li><a href="#communications-market-research">Market Research Officer</a>
</li>
<li><a href="#communications-press">Press Officer</a>
</li>
<li><a href="#communications-writers">Writer and Blogger</a>
</li>
<li><a href="#communications-podcast">Podcast Producer</a>
</li>
<li><a href="#communications-videographer">Videographer</a>
</li>
</ul>
<h2>Research</h2>
<ul><li><a href="#research-manager">Manager of Careers Research</a>
</li>
<li><a href="#research-careers">Careers Researchers</a>
</li>
</ul>
</div>

<div class="box">
<h2>Events</h2>
<h3 id="events-launch">Launch Event Manager</h3>
<ul><li>Plan the launch event with the rest of the executive team</li>
<li>Run the launch so that everyone in Oxford knows about it</li>
<li>Run events that attract hundreds of people, and lead to 50 new members</li>
</ul>
<p>High Impact Careers will launch in 3rd week of Hilary term. As Launch Event Manager, it will be your job to make it so good that the whole of Oxford is talking about it. Ideally, you'll have experience of organising large events such as balls.</p>
<h3 id="events-assistant-launch">Assistant Launch Manager
<ul><li>Assist the Launch Event Manager in running and promoting the launch</li>
<li>Take responsibility for individual elements of the launch event</li>
</ul>
</h3>
<h3 id="events-launch-marketing">Launch Event Marketing Manager</h3>
<ul><li>Develop a promotional plan for the launch event with the Launch Event Manager</li>
<li>Promote the launch event so that every Oxford student knows about it</li>
<li>And ensure hundreds of interested people turn up</li>
</ul>
<p>Our launch event in Hilary term will be accompanied by an extensive marketing campaign to promote the event and High Impact Careers. Using both conventional marketing techniques as well as more guerrilla strategies, you'll make sure that most people at Oxford know that the event is happening and want to come</p>
<h3 id="events-social">Social Secretary</h3>
<ul><li>Organise conventional social events such as pub meets and dinners.</li>
<li>Organise distinctive events that show the personality of high impact careers and get people excited about the community they are joining.</li>
</ul>
<p>High Impact Careers is a community, and we like to do things as diverse as late-night river-swimming, early morning gym-sessions, and good old fashioned pub nights. As our Social Secretary, you’ll come up with events from the cosy to the spectacular so that all our members feel at home and people who aren’t yet involved can’t help but join in.</p>
<h3 id="events-assistant-events">Assistant Events Officer</h3>
<ul><li>Work with the Events Officer to come up with, organise and publicise events.</li>
</ul>
<p>Our events will promote our ideas within Oxford as well as giving information and experience to people who want to pursue a high impact career. Your events will help build up our community and you'll play a vital role in the launch in Hilary term.</p>
</div>

<div class="box">
<h2>Community</h2>
<h3 id="community-membership">Membership Manager</h3>
<ul><li>Make sure people who are interested in HIC get one-on-one meetings.</li>
<li>Keep track of members’ career strategies and find out what help they’d like from us</li>
<li>Connect members with the best mentors to advise them.</li>
</ul>
<p>Our members are vital to our mission - without dedicating their careers to helping people, High Impact Careers would have no impact at all. As our Membership Manager, you’ll keep all of these lovely people happy - welcoming them into the community, making sure they get all the advice and support they need, and keeping in touch with them as they go into their careers.</p>
<h3 id="community-meeters">Meeters</h3>
<p>We like to get to know all our members individually, as a meeter you'll take interested people out to lunch, get to know them, their ambitions, and see how they can fit into our community.</p>
</div>

<div class="box">
<h2>Communications</h2>
<h3 id="communications-officer">Communications Officer</h3>
<ul><li>Develop our written content and events so that they effectively transmit our message</li>
<li>Oversee market research, working out how we can reach the best people as effectively as possible</li>
<li>Oversee our promotional efforts, particularly the covering the launch event and our appearances in the national media.</li>
</ul>
<p>High Impact Careers has new ideas that we want people to hear, understand, and act upon.  As Communications Officer you'll shape our messaging strategy and oversee all communications content. You'll lead a team of people working on website content (both written and audiovisual), market research, and events marketing. Ideally, you'll have experience in communications and marketing.</p>
<h3 id="communications-market-research">Market Research Officer</h3>
<ul><li>Develop and carry out our market research in conjunction with Oxford Student Consultancy, as well as independently</li>
<li>Establish which groups of people are most likely to join High Impact Careers, these will be our target audiences</li>
<li>Determine the primary obstacles to joining High Impact Careers among different audiences, and how to overcome the obstacles, or at least how to reduce their significance</li>
<li>Determine which groups of people are most likely to volunteer for High Impact Careers, any obstacles to volunteering, and how to overcome these obstacles</li>
<li>Field test different forms of recruitment strategy and establish how successful they are, from approaching people on the street, to chatting with people after related events</li>
<li>Review the pre-existing literature on recruitment and summarise relevant</li>
<li>information</li>
<li>Develop different narratives for explaining High Impact Careers, and test them with different audiences to establish which works best where</li>
<li>Make recommendations to improve High Impact Career’s recruitment strategy</li>
</ul>
<p>The ideas behind High Impact Careers are novel, and we need to know what attracts people to us and what puts them off. As our Market Research Officer, you’ll do market research, talk to people, and develop ways of explaining ourselves to different audiences. You’ll come up with creative recruitment methods and put them into action with the rest of the communications team. </p>
<h3 id="communications-press">Press Officer</h3>
<ul><li>Communicate between HIC and the press</li>
<li>Find opportunities for HIC to appear in the press</li>
<li>Write press releases</li>
<li>Write or find stories about HIC that could appear in the press</li>
</ul>
<p>As Press Officer, you'll get high-profile positive press coverage for our ideas and our organisation. You'll have a flair for communications and some experience of the media. This is a great opportunity for anyone interested in working in PR and communications. </p>
<h3 id="communications-writers">Writers and Bloggers</h3>
<ul><li>Write content for the High Impact Careers website and blog, in cooperation with the Web Content Manager</li>
<li>Write content to be distributed to partner blogs</li>
<li>Write content to be distributed to the national and student press</li>
</ul>
<p>You will help High Impact Careers in one of its most important aims: producing high quality, useful content for its members and followers. This content will also be at the heart of our marketing strategy. This will be great experience for anyone interested in journalism.</p>
<h3 id="communications-podcast">Podcast Producer</h3>
<ul><li>Produce a podcast every month containing careers advice of such high quality that it pulls otherwise uninterested people into our organisation.</li>
<li>Work with the researchers so that they provide you with the right information for an engaging and informative podcast.</li>
<li>Work with the web content manager to ensure a consistent feel to our content and to promote the podcast.</li>
<li>Find new sources through which to publish the podcast.</li>
</ul>
<p>Our podcasts will be a fount of wisdom for people who want to do good with their career. As Podcast Producer, you’ll turn our research and advice into engaging audio every month, keeping our members informed and piquing the interest of people who aren’t yet involved.</p>
<h3 id="communications-videographer">Videographer</h3>
<ul><li>Record and/or film our events</li>
<li>Edit them so they can be used as marketing tools</li>
<li>Oversee development of video content for website</li>
</ul>
<p>We'd like to record our events as well as filming interviews and making viral videos to spread our ideas across the world. As our videographer, you'll develop top-notch videos to spread ideas to a large audience.</p>
</div>

<div class="box">
<h2>Research</h2>
<h3 id="research-manager">Manager of Careers Research</h3>
<ul><li>Run a team of Careers Researchers</li>
<li>Coordinate the Oxford team with the Director of Careers Research in the US</li>
<li>Edit crowdsourced content on the wiki</li>
<li>Work with the podcast manager to put together research-based podcasts</li>
</ul>
<p>Since we’re a new organisation with new ideas, we need to develop a strong body of knowledge and advice to help our members do the most good in their careers. As our Manager of Careers Research researcher, lead a team making an advice guide to go on our website and whose work will support support our talks, podcasts, and blog posts.</p>
<h3 id="research-careers">Careers Researchers</h3>
<ul><li>Gather data and information on each high impact career - both factual information about how that career works (e.g. salary, attrition rates) and advice about how to get into each career.</li>
<li>Research more general advice on transferable skills such as networking, negotiation, management.</li>
<li>Write up this information into engaging articles on the careers wiki</li>
</ul>
<p>Since we’re a new organisation with new ideas, we need to develop a strong body of knowledge and advice to help our members do the most good in their careers. As a researcher, you’ll be part of a team making an advice guide to go on our website and your work will support support our talks, podcasts, and blog posts. Don’t worry if you don’t have any experience of this sort, our Manager of Careers Research will guide you expertly through the process as well as providing you with a good dose of careers advice along the way. This role is particularly flexible and can be performed from anywhere in the world.</p>
</div>
