
<div class="box">
<p>
We provide a warm and friendly community of like minded people who support each other in their pursuit of a high impact career.
</p>

<p>
Broadly, we can divide what we do into three steps:
</p>

<ul class="magenta-bullets">
<li><a href="/career-research">We <span class="bold">research</span> the question, “how can I use my time and money in order to most benefit other people?”</a>
</li>
<li><a href="/get-involved">We <span class="bold">publicise</span> our findings and <span class="bold">advocate</span> that people put them into practice. For instance, we ask that our members donate at least 10% of their money or time to the causes which they believe are the highest impact.</a>
</li>
<li><a href="/members">We build a <span class="bold">community</span> of people who share our aims. We support each other and try to help one another be more successful in their chosen high impact career.</a>
</li>
</ul>

</div>

<div class="box-container height-300">
<div class="box third-width height-170 left-box">
<h2 class="center">Events</h2>
We organise events in Oxford and beyond for our members.
<a href="/events"><span class="box-span"></span>
</a>
<a class="button more-button" href="/events">More...</a>
</div>

<div class="box third-width height-170 middle-box">
<h2 class="center">Member profiles</h2>
<p>We have members around the world, dedicated to pursuing high impact careers.</p>
<a href="/members"><span class="box-span"></span>
</a>
<a class="button more-button" href="/members">More...</a>
</div>

<div class="box third-width height-170 right-box">
<h2 class="center">Career Research</h2>
We research which careers make the most difference, and help our members to get them.
<a href="/career-research"><span class="box-span"></span>
</a>
<a class="button more-button" href="/career-research">More...</a>
</div>
</div>

