<div class="box">
  <div class="center">
    <%= image_tag "what_you_can_do/donations.png", :class=>"shadow" %>
    <p>
    <a class="what-you-can-do" href="/what-you-can-do/my-donations"><span class="box-span"></span>What can my donations do?</a>
    </p>
  </div>
</div>

<div class="box">
  <div class="center">
    <%= image_tag "what_you_can_do/doctor_vs_banker.png", :class=>"shadow" %>
    <p>
    <a class="what-you-can-do" href="/what-you-can-do/my-career"><span class="box-span"></span>What can my career do?</a>
    </p>
  </div>
</div>
