<div class="box">
  <% @members.each do |member| %>
    <%= render :partial => '/shared/member_condensed', :locals => { :member => member } %>
  <% end %>

  <div class="center">
  <%= button_link 'Inspired? Interested in becoming a member?', '/join' %>
  </div>
</div>

