<div class="box">
  <% @members.each do |member| %>
    <div class="inner-box">
      <%= render :partial => '/shared/member', :locals => { :member => member, :show_avatar => true, :avatar_size => :thumb, :link_name => true, :condensed => true  } %>
    </div>
  <% end %>

  <%= button_link 'Inspired? Interested in becoming a member?', '/join' %>
</div>

