<div class="box">
  <% @members.each do |member| %>
    <div class="inner-box">
      <%= render :partial => '/shared/member_condensed', :locals => { :member => member } %>
    </div>
  <% end %>

  <%= button_link 'Inspired? Interested in becoming a member?', '/join' %>
</div>

