<div class="box">
  <div class="inner-box">
  <% if @member %>
    <%= render :partial => '/shared/member', :locals => { :member => @member } %>
  <% else %>
    <p>Sorry! That profile hasn't been completed yet... check back soon!</p>
    <%= button_link 'List of all members with profiles', '/members' %>
  <% end %>
  </div>
  <%= button_link 'View all members', '/members' %>
</div>

